@using Feature.Wealth.Component.Models.Invest
@model Tuple<InvestTypeEnum, string,string>
@{
    if (string.IsNullOrEmpty(Model.Item2))
    {
        return;
    }
}
<!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
<!-- [data-ia="true"]: 啟用互動式按鈕，預設會有 tooltip 及 toast 提示訊息，需搭配 [data-msg] 設定訊息才會有作用 -->
<!-- [data-msg]: active|inactive 的訊息，用 "|" 符號分隔，若訊息未設定完整則不顯示提示訊息 -->
<a href="javascript;" data-compare data-type="@Model.Item1" data-id="@Model.Item2" data-name="@Model.Item3"
   data-eh="compare-init,compare-click" class="o-statusBtn o-statusBtn--compare "
   data-after-lt="比較" data-msg="加入比較|取消比較" data-ia="true" data-add="false"></a>
