@*@using Feature.Wealth.Account.Services;
@using Feature.Wealth.Account.Models.OAuth;*@

@{
    //string fbAuthUrl = OAuthFactory.GetAuthUrl(PlatFormEunm.FaceBook);
    //string lineAuthUrl = OAuthFactory.GetAuthUrl(PlatFormEunm.Line);
}
<div id="popupLogin" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <div class="c-loginModal">
            <div class="c-loginModal__item">
                <div class="c-loginBox">
                    <div class="c-loginBox__main">
                        <header class="c-loginBox__title">網銀登入</header>
                        <p class="c-loginBox__greeting">使用完整服務，請使用網銀帳號登入</p>
                        <div class="c-loginBox__actions">
                            <a href="#" class="o-btn o-btn--primary o-btn--sm o-btn--flat">網銀登入</a>
                        </div>
                    </div>
                    <div class="c-loginBox__social">
                        <div class="c-socialBox">
                            <div class="c-socialBox__title">社群登入</div>
                            <ul class="c-socialBox__list">
                                <li class="c-socialBox__item">
                                    <a href="#" class="o-social o-social--fb"></a>
                                </li>
                                <li class="c-socialBox__item">
                                    <a href="#" class="o-social o-social--line"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-loginModal__item">
                <figure class="c-registerBox">
                    <div class="c-registerBox__wrap">
                        <img src="./themes/images/layout/create.png" class="c-registerBox__img" alt="">
                        <figcaption class="c-registerBox__content">
                            <span>還沒有第一銀行帳戶嗎？</span>
                            <a href="#" class="o-link t-bold">立即開戶</a>
                        </figcaption>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div id="popupPurchase" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">立即申購</h2>
        </header>
        <div class="c-modal__content">
            <div class="u-hidden@lt-up">
                <div class="l-flex u-flex-col u-flex-gap-xs">
                    <div class="l-flex__item">
                        <span class="t-bold">選擇申購平台：</span>
                    </div>
                    <div class="l-flex__item">
                        <div class="l-pickGroup">
                            <div class="l-pickGroup__item">
                                <label class="o-btnRadio">
                                    <input class="o-btnRadio__input" type="radio" name="platform" data-name="firste" checked>
                                    <div class="o-btnRadio__text">
                                        <span>第e行動</span>
                                    </div>
                                </label>
                            </div>
                            <div class="l-pickGroup__item">
                                <label class="o-btnRadio">
                                    <input class="o-btnRadio__input" type="radio" name="platform"  data-name="ileo">
                                    <div class="o-btnRadio__text">
                                        <span>iLEO</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" id="subscriptionSingle" data-type="Single">單筆申購</a>
                </div>
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" id="subscriptionRegular"  data-type="Regular">定期定額</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popupCurrency" class="c-modal c-modal--xs mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">幣別提示說明</h2>
        </header>
        <div class="c-modal__content">
            <p>點擊幣別可查詢相關匯率</p>
        </div>
    </div>
</div>
<div id="popupCurrencyWebSite" class="c-modal mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">外匯匯率</h2>
        </header>
        <div class="c-modal__content">
            <iframe src="https://mobiletest.firstbank.com.tw/c1/cheetah/zh/07/currency">
            </iframe>
        </div>
    </div>
</div>
<div id="popupCompareMax" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">加入失敗</h2>
        </header>
        <div class="c-modal__content">
            <div class="c-modalResult">
                <div class="c-modalResult__icon">
                    <img src="./themes/images/icons/orange/x-solid.svg" class="c-modalResult__img" alt="">
                </div>
                <div class="c-modalResult__title">基金商品比較已達上限</div>
                <p class="c-modalResult__msg">您一次最多可比較7個基金</p>
            </div>
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm" data-popup-close="true">確定</a>
                </div>
            </div>
        </div>
    </div>
</div>