<div class="l-navbar__tools">
    <div class="l-flex l-flex--inline u-flex-gap-sm">
        <div class="l-flex__item">
            <!-- [data-popover]: 彈跳視窗功能，值為彈跳視窗的 selector -->
            <a href="#" class="o-btn o-btn--primary o-btn--icon" data-popover="#popovermagicalShare01">
                <img src="~/themes/images/icons/white/share.svg" alt="分享">分享
            </a>
            <div id="popovermagicalShare01" class="c-popover c-popover--auto u-left">
                <div class="c-popover__wrap">
                    <nav class="c-popover__main">
                        <ul class="l-flex u-flex-col u-flex-gap-md s4">
                            <li class="l-flex__item">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=" class="o-social o-social--sm o-social--fb" target="_blank" rel="noopener noreferrer" data-share>
                                    <span class="u-hidden@mb-only">Facebook</span>
                                </a>
                            </li>
                            <li class="l-flex__item">
                                <a href="https://social-plugins.line.me/lineit/share?url=" class="o-social o-social--sm o-social--line" target="_blank" rel="noopener noreferrer" data-share>
                                    <span class="u-hidden@mb-only">LINE</span>
                                </a>
                            </li>
                            <li class="l-flex__item">
                                <div class="l-copy" data-copy>
                                    <div class="l-copy__action">
                                        <a href="#" class="o-social o-social--sm o-social--copy" data-copy-action>
                                            <span class="u-hidden@mb-only">複製網址</span>
                                        </a>
                                    </div>
                                    <div class="l-copy__msg">
                                        <div class="o-tooltip o-tooltip--relative o-tooltip--top" data-copy-msg>
                                            <div class="o-tooltip__content u-nowrap">已複製</div>
                                            <div class="o-tooltip__arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>