<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore>
    <scheduling>
      <agent role:require="ContentManagement" environment:require="Staging or Production" patch:instead="agent[@type='Sitecore.Tasks.PublishAgent']">
        <patch:attribute name="type">Sitecore.Tasks.PublishAgent</patch:attribute>
        <patch:attribute name="method">Run</patch:attribute>
        <patch:attribute name="interval">01:00:00</patch:attribute>
        <param desc="source database">master</param>
        <param desc="target database">web</param>
        <param desc="mode (full or smart or incremental)">smart</param>
        <param desc="languages">en, zh-TW</param>
      </agent>
    </scheduling>
    <pipelines>
      <initialize>
        <processor type="Foundation.Wealth.Pipelines.Initialize.ClientRoute, Foundation.Wealth" patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" />
      </initialize>
      <httpRequestBegin>
        <!--
          設定簡易轉導
          DefineRedirectFields => 定義抓取欄位，使用順序後至前
          IgnoreSite => 設定忽略的 site
        -->
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Foundation.Wealth.Pipelines.HttpRequestBegin.RedirectItem, Foundation.Wealth" resolve="true">
          <IgnoreSites hint="list">
            <IgnoreSite>scheduler</IgnoreSite>
            <IgnoreSite>publisher</IgnoreSite>
            <IgnoreSite>exm</IgnoreSite>
            <IgnoreSite role:require="Standalone or ContentManagement">website</IgnoreSite>
          </IgnoreSites>
          <DefineRedirectFields hint="list">
            <DefineRedirectField></DefineRedirectField>
          </DefineRedirectFields>
        </processor>
        <!--
          設置無版本但包含Layout的轉導
          Sites => 設定執行的 site
         -->
        <processor patch:before="*[@type='Foundation.Wealth.Pipelines.HttpRequestBegin.RedirectItem, Foundation.Wealth']"
                   type="Foundation.Wealth.Pipelines.HttpRequestBegin.VersionNotfoundRedirect, Foundation.Wealth" resolve="true"
                   role:require="Standalone or ContentManagement or ContentDelivery">
          <Sites hint="list">
            <Site>tcb</Site>
            <Site>tcb-en</Site>
          </Sites>
        </processor>
      </httpRequestBegin>
    </pipelines>
    <events>
      <event name="publish:itemProcessed" role:require="Standalone or ContentManagement">
        <handler type="Foundation.Wealth.Events.PublishProcessed.RecordPublishItem, Foundation.Wealth" method="ItemProcessed">       
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>