<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="noindex, nofollow" name="robots" />
    <link rel="icon" href="/sitecore/images/favicon.ico">
    <title>@(ViewBag.Title)</title>
    @*<link rel="stylesheet" href="~/themes/feature/toolkit/css/bulma.min.css">*@
    <script type="text/javascript" src="~/themes/feature/toolkit/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="~/themes/feature/toolkit/js/combine.min.js"></script>
    <!-- #START RenderSection: Head -->
    @RenderSection("Head")
    <!-- #END RenderSection: Head -->
</head>
<body>
    @RenderBody()
    @RenderSection("Body", false)
</body>
</html>