@using Foundation.Wealth.Helper;
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>第e理財網導轉</title>
</head>
<body>
</body>
</html>
<script>
    let xhr = new XMLHttpRequest();
    xhr.open('post', '@ClientRoute.GenerateUrl(this, "Accounts", "GetUrlCookie")', true);
    let data = { unlockBlock : true };
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send(JSON.stringify(data));
    xhr.onload = function() {
        let homePage = new URL(location.protocol + "//" + location.hostname);
        if (xhr.status != 200) {
            location.href = homePage;
            return;
        }
        let res = JSON.parse(xhr.responseText);
        if (res.url == '') {
            location.href = homePage;
        } else {
            const url = new URL(res.url);
            location.href = url;
        }
    }
</script>
