<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore>
    <pipelines role:require="Standalone or ContentManagement" environment:require="Local or Staging or Production">
      <speak.logout argsType="Sitecore.Pipelines.Logout.LogoutArgs">
        <processor type="Feature.Wealth.Account.Pipelines.SingleSignOut, Feature.Wealth.Account" mode="on" />
      </speak.logout>

      <owin.cookieAuthentication.signedIn>
        <processor resolve="true" type="Feature.Wealth.Account.Pipelines.Owin.CookieAuthentication.SignedIn.LoginTracker, Feature.Wealth.Account" patch:after="processor[@type='Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.SignedIn.CleanupUserProfile, Sitecore.Owin.Authentication']" />
      </owin.cookieAuthentication.signedIn>
      <owin.cookieAuthentication.signOut>
        <processor resolve="true" type="Feature.Wealth.Account.Pipelines.Owin.CookieAuthentication.SignOut.LogoutTracker, Feature.Wealth.Account" patch:after="processor[@type='Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.SignOut.ClearCache, Sitecore.Owin.Authentication']" />
      </owin.cookieAuthentication.signOut>
    </pipelines>

    <processors role:require="Standalone or ContentManagement" environment:require="Local or Staging or Production">
      <logout argsType="Sitecore.Pipelines.Logout.LogoutArgs">
        <processor patch:before="processor[@type='Sitecore.Pipelines.Logout.GotoLogin, Sitecore.Kernel']" type="Feature.Wealth.Account.Pipelines.SingleSignOut, Feature.Wealth.Account" mode="on" />
      </logout>
    </processors>
    <authoring role:require="Standalone or ContentManagement" environment:require="Local or Staging or Production">
      <graphql>
        <tokenValidator>
          <param desc="authenticationType">
            <patch:delete />
          </param>
          <param desc="authenticationType"></param>
        </tokenValidator>
      </graphql>
    </authoring>
    <federatedAuthentication role:require="Standalone or ContentManagement" environment:require="Local or Staging or Production">
      <identityProviders>
        <identityProvider id="SitecoreIdentityServer">
          <enabled>false</enabled>
        </identityProvider>
      </identityProviders>
    </federatedAuthentication>
    <sites role:require="Standalone or ContentManagement">
      <site name="shell">
        <patch:attribute name="loginPage" environment:require="Local or Development">/sitecore/login</patch:attribute>
      </site>
      <site name="admin">
        <patch:attribute name="loginPage">/sitecore/admin/login.aspx</patch:attribute>
      </site>
      <site name="login-sso" inherits="login" patch:before="site[@name='login']">
        <patch:attribute name="virtualFolder">/sso/login</patch:attribute>
        <patch:attribute name="physicalFolder">/sso/login</patch:attribute>
        <patch:attribute name="content">master</patch:attribute>
      </site>
    </sites>
    <pipelines role:require="Standalone or ContentDelivery">
      <mvc.requestBegin>
        <processor patch:after="processor[@type='Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics']" type="Feature.Wealth.Account.Pipelines.XConnect, Feature.Wealth.Account" resolve="true"/>
      </mvc.requestBegin>
    </pipelines>
    <settings>
      <setting name="Feature.Wealth.Account.SSO.LogoutUrl" value="https://am.firstbank.com.tw/AGLogout">
        <patch:attribute name="value" environment:require="Staging">https://am5test.firstbank-tt.com.tw/AGLogout</patch:attribute>
      </setting>
      <setting name="Feature.Wealth.Account.SSO.LoginQueryString" value="false">
        <patch:attribute name="value" environment:require="Development">true</patch:attribute>
      </setting>
      <!--第三方登入資訊-->
      <setting name="Facebook.AppId" >
        <patch:attribute name="value" environment:require="Local or Development">1141789380446473</patch:attribute>
        <patch:attribute name="value" environment:require="Staging">2209337179431272</patch:attribute>
        <patch:attribute name="value" environment:require="Production">472848741837981</patch:attribute>
      </setting>
      <setting name="Facebook.AppSecret">
        <patch:attribute name="value" environment:require="Local or Development">981b2d74dff9aaecca7ae5ec28a4ee0e</patch:attribute>
        <patch:attribute name="value" environment:require="Staging">d495c096d8839ea50ca29d4713bd707e</patch:attribute>
        <patch:attribute name="value" environment:require="Production">de5a8040590ae4b3c0859636b1353658</patch:attribute>
      </setting>
      <setting name="Facebook.AuthUrl" value="https://www.facebook.com/v19.0/dialog/oauth?client_id={AppId}&amp;redirect_uri={RedirectUrl}&amp;state={state}" />
      <setting name="Facebook.TokenUrl" value="https://graph.facebook.com/v19.0/oauth/access_token?client_id={AppId}&amp;redirect_uri={RedirectUrl}&amp;client_secret={AppSecret}&amp;code={code}" />
      <setting name="Facebook.ProfileUrl" value="https://graph.facebook.com/v19.0/me?fields=id,name,email" />
      <setting name="Line.ClientId">
        <patch:attribute name="value" environment:require="Local or Development">2004541583</patch:attribute>
        <patch:attribute name="value" environment:require="Staging">1619990426</patch:attribute>
        <patch:attribute name="value" environment:require="Production">1626443810</patch:attribute>
      </setting>
      <setting name="Line.ClientSecret">
        <patch:attribute name="value" environment:require="Local or Development">614ececff1b8984eef0cfdb784b6db75</patch:attribute>
        <patch:attribute name="value" environment:require="Staging">e4aa6c7dd4d61c3c1dcc3cfa65231637</patch:attribute>
        <patch:attribute name="value" environment:require="Production">b5ee994321512fa6dcf85fa8055f9e2c</patch:attribute>
      </setting>
      <setting name="Line.AuthUrl" value="https://access.line.me/oauth2/v2.1/authorize?scope={scope}&amp;response_type=code&amp;state={state}&amp;redirect_uri={RedirectUrl}&amp;client_id={clientid}"/>
      <setting name="Line.TokenUrl" value="https://api.line.me/oauth2/v2.1/token"/>
      <setting name="Line.ProfileUrl" value="https://api.line.me/v2/profile"/>
      <setting name="Line.VerifyUrl" value="https://api.line.me/oauth2/v2.1/verify"/>
      <!--一銀網銀登入AppAay資訊-->
      <setting name="AppPay.Id">
        <patch:attribute  name="value" environment:require="Local or Development or Staging">WEALTH</patch:attribute>
        <patch:attribute  name="value" environment:require="Production">WEALTH</patch:attribute>
      </setting>
      <setting name="AppPay.Key">
        <patch:attribute  name="value" environment:require="Local or Development or Staging">gIVNc3DU7ln9yJEclqPY</patch:attribute>
        <patch:attribute  name="value" environment:require="Production">HcNFUSi9G2agXcg6V6Ks</patch:attribute>
      </setting>
      <setting name="AppPay.VerifyUrl">
        <patch:attribute  name="value" environment:require="Local or Development or Staging">https://10.14.84.3/apppay/request/0201.do</patch:attribute>
        <patch:attribute  name="value" environment:require="Production">https://10.20.10.43/apppay/request/0201.do</patch:attribute>
      </setting>
      <setting name="AppPay.CallLoginUrl">
        <patch:attribute  name="value" environment:require="Local or Development or Staging">https://ibanktest.firstbank.com.tw/apppay/request/0202.do</patch:attribute>
        <patch:attribute  name="value" environment:require="Production">https://ibank.firstbank.com.tw/apppay/request/0202.do</patch:attribute>
      </setting>
      <setting name="WebBank.CallBackUrl" value="/api/client/Accounts/SignInWebBank?sc_lang=zh-TW&amp;sc_site=wealth-zh-hant">
      </setting>
      <!--第e行動&&iLeo登入deeplink-->
      <setting name="MobileFirste" value="https://fcblink.page.link/?link=https%3A%2F%2Ffcblink.page.link%2FI11%3Fchannel%3Dwms%26returnUrl%3Dwww.google.com.tw&amp;apn=com.willmobile.mobilebank.fcb&amp;isi=408289025&amp;ibi=com.firstbank.mbank">
      </setting>
      <setting name="MobileIleo" >
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://fcbileodev.page.link/?link=https://fcbileodev.page.link/FundTrackList?channel%3Dwms%26returnUrl%3D&amp;apn=com.firstbank.mbanklite.debug&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite.apnDEV</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://fcbileo.page.link/?link=https://fcbileo.page.link/FundTrackList?channel%3Dwms%26returnUrl%3D&amp;apn=com.firstbank.mbanklite&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite</patch:attribute>
      </setting>
      <!--壓力測試使用 ID-->
      <setting name="StressTestId" value="A123123123"/>
    </settings>
  </sitecore>
</configuration>