@model Feature.Wealth.Component.Models.SiteProductSearch.SiteProductSearchDatasource
@{
    if (Model == null)
    {
        return;
    }
}
<div class="l-wrap">

    @*<div class="c-tab c-tab--wide" data-filter-empty="true" style="display:none;">
            <div class="c-tab__panel is-active">
                <div class="c-section">
                    <div class="c-section__content">
                        <div class="c-empty">
                            <div class="c-empty__img">
                                <img src="~/themes/images/lions/lion-compare.svg" alt="">
                            </div>
                            <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="c-tab c-tab--wide" data-tab="true" @*data-filter-empty="false" style="display:none;"*@>
        <div class="c-tab__header">
            <ul class="c-tab__navs">
                <!-- .is-active: 作用中的項目 -->
                <!-- [data-tab-target]: 值需對應 [data-tab-panel-id] 的值，按下後會自動顯示相對的 panel -->
                <!-- 若為外連，不要賦予[data-tab-target]屬性 -->
                <li><a href="#" class="c-tab__item is-active" target="_self" title="基金" data-tab-target="tab-1" data-filter-switch-columns="fundTable">基金<span class="c-tab__num" data-uid-producttype="fund">0</span></a></li>
                <li><a href="#" class="c-tab__item" target="_self" title="ETF" data-tab-target="tab-2" data-filter-switch-columns="etfTable">ETF<span class="c-tab__num" data-uid-producttype="etf">0</span></a></li>
                <li><a href="#" class="c-tab__item" target="_self" title="國外股票" data-tab-target="tab-3" data-filter-switch-columns="foreignstockTable" data-filter-switch="#uid-template-fstock">國外股票<span class="c-tab__num" data-uid-producttype="fstock">0</span></a></li>
                <li><a href="#" class="c-tab__item" target="_self" title="國外債券" data-tab-target="tab-4" data-filter-switch-columns="foreignbondTable" data-filter-switch="#uid-template-fbond">國外債券<span class="c-tab__num" data-uid-producttype="fbond">0</span></a></li>
                <li><a href="#" class="c-tab__item" target="_self" title="結構型商品" data-tab-target="tab-5" data-filter-switch-columns="sipTable" data-filter-switch="#uid-template-sip">結構型商品<span class="c-tab__num" data-uid-producttype="sip">0</span></a></li>
            </ul>
            <div class="c-tab__collapse">
                <a href="#" class="c-tab__switch"></a>
                <div class="c-tab__dropdown">
                    <a href="#" class="c-tab__clone is-active" target="_self" title="基金" data-tab-target="tab-1" data-filter-switch-columns="fundTable">基金<span class="c-tab__num" data-uid-producttype="fund">0</span></a>
                    <a href="#" class="c-tab__clone" target="_self" title="ETF" data-tab-target="tab-2" data-filter-switch-columns="etfTable">ETF<span class="c-tab__num" data-uid-producttype="etf">0</span></a>
                    <a href="#" class="c-tab__clone" target="_self" title="國外股票" data-tab-target="tab-3" data-filter-switch-columns="foreignstockTable" data-filter-switch="#uid-template-fstock">國外股票<span class="c-tab__num" data-uid-producttype="fstock">0</span></a>
                    <a href="#" class="c-tab__clone" target="_self" title="國外債券" data-tab-target="tab-4" data-filter-switch-columns="foreignbondTable" data-filter-switch="#uid-template-fbond">國外債券<span class="c-tab__num" data-uid-producttype="fbond">0</span></a>
                    <a href="#" class="c-tab__clone" target="_self" title="結構型商品" data-tab-target="tab-5" data-filter-switch-columns="sipTable" data-filter-switch="#uid-template-sip">結構型商品<span class="c-tab__num" data-uid-producttype="sip">0</span></a>
                </div>
            </div>
        </div>
        @* 基金 *@
        <div class="c-tab__panel" data-tab-panel-id="tab-1">

            <div class="c-section" data-filter-empty="true">
                <div class="c-section__content">
                    <div class="c-empty">
                        <div class="c-empty__img">
                            <img src="~/themes/images/lions/lion-compare.svg" alt="">
                        </div>
                        <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                    </div>
                </div>
            </div>

            <div class="l-flex u-flex-col u-flex-gap-sm" data-filter-empty="false" style="display:none;">
                <div class="l-flex__item">
                    <div class="l-flex l-flex--wrap u-flex-gap-sm">
                        <div class="l-flex__item">
                            <div class="o-capsulebox">
                                <label class="o-capsulebox__item">
                                    <input type="radio" name="currency2" value="原幣" checked class="o-capsulebox__input" data-filter-switch="#uid-template-fund-original" data-filter-switch-columns="Original_fund" data-tab-currency="Original">
                                    <span class="o-capsulebox__text">原幣</span>
                                </label>
                                <label class="o-capsulebox__item">
                                    <input type="radio" name="currency2" value="台幣" class="o-capsulebox__input" data-filter-switch="#uid-template-fund-TWD" data-filter-switch-columns="TWD_fund" data-tab-currency="TWD">
                                    <span class="o-capsulebox__text">台幣</span>
                                </label>
                            </div>
                        </div>
                        <div class="l-flex__item u-right u-hidden@dt-only">
                            <div class="o-sortingbox">
                                <!-- [data-sortingbox="true"]: 載入後自動綁定手機版排序客製樣式下拉功能 -->
                                <select class="o-sortingbox__input" data-sortingbox="true" data-sorting-linkto="fundTable">
                                    <option value="">排序</option>
                                    <option value="基金名稱高至低" data-sorting-column="ProductCode" data-sorting-class="is-desc">基金名稱高至低</option>
                                    <option value="基金名稱低至高" data-sorting-column="ProductCode" data-sorting-class="is-asc">基金名稱低至高</option>
                                    <option value="最新淨值高至低" data-sorting-column="NetAssetValue" data-sorting-class="is-desc">最新淨值高至低</option>
                                    <option value="最新淨值低至高" data-sorting-column="NetAssetValue" data-sorting-class="is-asc">最新淨值低至高</option>
                                    <option value="幣別高至低" data-sorting-column="CurrencyPair.Key" data-sorting-class="is-desc">幣別高至低</option>
                                    <option value="幣別低至高" data-sorting-column="CurrencyPair.Key" data-sorting-class="is-asc">幣別低至高</option>

                                    <option value="1個月原幣績效高至低" data-sorting-column="OneMonthReturnOriginalCurrency.Value" data-sorting-class="is-desc">1個月原幣績效高至低</option>
                                    <option value="1個月原幣績效低至高" data-sorting-column="OneMonthReturnOriginalCurrency.Value" data-sorting-class="is-asc">1個月原幣績效低至高</option>
                                    <option value="3個月原幣績效高至低" data-sorting-column="ThreeMonthReturnOriginalCurrency.Value" data-sorting-class="is-desc">3個月原幣績效高至低</option>
                                    <option value="3個月原幣績效低至高" data-sorting-column="ThreeMonthReturnOriginalCurrency.Value" data-sorting-class="is-asc">3個月原幣績效低至高</option>
                                    <option value="6個月原幣績效高至低" data-sorting-column="SixMonthReturnOriginalCurrency.Value" data-sorting-class="is-desc">6個月原幣績效高至低</option>
                                    <option value="6個月原幣績效低至高" data-sorting-column="SixMonthReturnOriginalCurrency.Value" data-sorting-class="is-asc">6個月原幣績效低至高</option>
                                    <option value="1年原幣績效高至低" data-sorting-column="OneYearReturnOriginalCurrency.Value" data-sorting-class="is-desc">1年原幣績效高至低</option>
                                    <option value="1年原幣績效低至高" data-sorting-column="OneYearReturnOriginalCurrency.Value" data-sorting-class="is-asc">1年原幣績效低至高</option>

                                    <option value="1個月台幣績效高至低" data-sorting-column="OneMonthReturnTWD.Value" data-sorting-class="is-desc">1個月台幣績效高至低</option>
                                    <option value="1個月台幣績效低至高" data-sorting-column="OneMonthReturnTWD.Value" data-sorting-class="is-asc">1個月台幣績效低至高</option>
                                    <option value="3個月台幣績效高至低" data-sorting-column="ThreeMonthReturnTWD.Value" data-sorting-class="is-desc">3個月台幣績效高至低</option>
                                    <option value="3個月台幣績效低至高" data-sorting-column="ThreeMonthReturnTWD.Value" data-sorting-class="is-asc">3個月台幣績效低至高</option>
                                    <option value="6個月台幣績效高至低" data-sorting-column="SixMonthReturnTWD.Value" data-sorting-class="is-desc">6個月台幣績效高至低</option>
                                    <option value="6個月台幣績效低至高" data-sorting-column="SixMonthReturnTWD.Value" data-sorting-class="is-asc">6個月台幣績效低至高</option>
                                    <option value="1年台幣績效高至低" data-sorting-column="OneYearReturnTWD.Value" data-sorting-class="is-desc">1年台幣績效高至低</option>
                                    <option value="1年台幣績效低至高" data-sorting-column="OneYearReturnTWD.Value" data-sorting-class="is-asc">1年台幣績效低至高</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-flex__item">
                    <div class="l-table">
                        <table id="fund_table" class="c-table@dt-only c-cardTable@lt">
                            <colgroup>
                                <col style="width: auto;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                            </colgroup>
                            <thead>
                                <tr class="u-nowrap">
                                    <th>
                                        <div class="c-table__title">
                                            <span>基金名稱</span>
                                            <!-- .is-asc: 升冪 -->
                                            <!-- .is-desc: 降冪 -->
                                            <a href="#" class="o-sorting" data-sorting-column="ProductCode"></a>
                                        </div>
                                    </th>
                                    @*【最新淨值(日期)】=> 績效表現,基本資料,風險指標*@
                                    <th>
                                        <div class="c-table__title">
                                            <span>最新淨值<br>(淨值日)</span>
                                            <a href="#" class="o-sorting" data-sorting-column="NetAssetValue"></a>
                                        </div>
                                    </th>
                                    @*【幣別】=> 績效表現,基本資料*@
                                    <th data-filter-switch-columns="fundTable,Original_fund,TWD_fund">
                                        <div class="c-table__title">
                                            <span>幣別</span>
                                            <a href="#popupCurrency" class="o-icon o-icon--tip o-icon--xs" data-popup="true"></a>
                                            <a href="#" class="o-sorting" data-sorting-column="CurrencyPair.Key"></a>
                                        </div>
                                    </th>
                                    @*【績效表現-報酬(原幣)】*@
                                    <th data-filter-switch-columns="fundTable,Original_fund">
                                        <div class="c-table__title">
                                            <span>1個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="OneMonthReturnOriginalCurrency.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="fundTable,Original_fund">
                                        <div class="c-table__title">
                                            <span>3個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="ThreeMonthReturnOriginalCurrency.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="fundTable,Original_fund">
                                        <div class="c-table__title">
                                            <span>6個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="SixMonthReturnOriginalCurrency.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="fundTable,Original_fund">
                                        <div class="c-table__title">
                                            <span>1年</span>
                                            <a href="#" class="o-sorting" data-sorting-column="OneYearReturnOriginalCurrency.Value"></a>
                                        </div>
                                    </th>
                                    @*【績效表現-報酬(台幣)】*@
                                    <th data-filter-switch-columns="fundTable,TWD_fund">
                                        <div class="c-table__title">
                                            <span>1個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="OneMonthReturnTWD.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="fundTable,TWD_fund">
                                        <div class="c-table__title">
                                            <span>3個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="ThreeMonthReturnTWD.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="fundTable,TWD_fund">
                                        <div class="c-table__title">
                                            <span>6個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="SixMonthReturnTWD.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="fundTable,TWD_fund">
                                        <div class="c-table__title">
                                            <span>1年</span>
                                            <a href="#" class="o-sorting" data-sorting-column="OneYearReturnTWD.Value"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>關注/比較</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>申購</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="uid-fjs-fund">
                            </tbody>
                            @{
                                Html.RenderPartial("/Views/Feature/Wealth/Component/SiteProductSearch/SearchResult/_FundResultTemplate.cshtml", Model);
                            }
                        </table>

                        <div class="l-pagination">
                            <div class="l-pagination__size" id="uid-perPage-fund">
                            </div>
                            <script id="uid-template-perPage-fund" type="text/html">
                                <span>每頁顯示</span>
                                <!-- [data-sizebox="true"]: 載入後自動綁定分頁筆數客製樣式下拉功能 -->
                                <select id="uid-view-perPage-fund" name="per_page" data-perpage="true" class="o-selectbox o-selectbox--pagesize">
                                    <% for(var i = 0; i < values.length - 1; i++ ) { %>
                                    <option value="<%= values[i] %>"><%= values[i] %>筆</option>
                                    <% } %>
                                    <option value="<%= values[values.length - 1] %>">全部</option>
                                </select>
                            </script>
                            <div class="l-pagination__switch" id="uid-pagination-fund">
                            </div>
                            <script id="uid-template-pagination-fund" type="text/html">
                                <div class="o-pagination">
                                    <% if (currentPage > 1) { %>
                                    <a href="javascript:;" data-page="prev" class="o-pagination__prev"></a>
                                    <% } else { %>
                                    <!-- .is-disabled: 停用狀態，無法點擊 -->
                                    <a href="#" class="o-pagination__prev is-disabled"></a>
                                    <% } %>
                                    <span class="o-pagination__pager">
                                        <input data-page-input type="number" value="<%= currentPage %>" class="o-pagination__no">
                                        <span class="o-pagination__total"><%= totalPages %></span>
                                    </span>
                                    <% if (currentPage < totalPages ) { %>
                                    <a href="javascript:;" data-page="next" class="o-pagination__next"></a>
                                    <% } else { %>
                                    <a href="javascript:;" data-page="next" class="o-pagination__next is-disabled"></a>
                                    <% } %>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="o-sortingbox" style="display:none;">
                <!-- [data-sortingbox="true"]: 載入後自動綁定手機版排序客製樣式下拉功能 -->
                @*基金 所有欄位*@
                <select class="o-sortingbox__input" data-sortingbox-all data-sortingbox="true" id="uid-sortbox-fund">
                    <option value="">排序</option>
                    <option value="基金名稱高至低" data-sorting-column="ProductCode" data-sorting-class="is-desc">基金名稱高至低</option>
                    <option value="基金名稱低至高" data-sorting-column="ProductCode" data-sorting-class="is-asc">基金名稱低至高</option>
                    <option value="最新淨值高至低" data-sorting-column="NetAssetValue" data-sorting-class="is-desc">最新淨值高至低</option>
                    <option value="最新淨值低至高" data-sorting-column="NetAssetValue" data-sorting-class="is-asc">最新淨值低至高</option>
                    <option value="幣別高至低" data-sorting-column="CurrencyPair.Key" data-sorting-class="is-desc">幣別高至低</option>
                    <option value="幣別低至高" data-sorting-column="CurrencyPair.Key" data-sorting-class="is-asc">幣別低至高</option>
                    @*淨值績效*@
                    <option value="1個月原幣績效高至低" data-sorting-column="OneMonthReturnOriginalCurrency.Value" data-sorting-class="is-desc">1個月原幣績效高至低</option>
                    <option value="1個月原幣績效低至高" data-sorting-column="OneMonthReturnOriginalCurrency.Value" data-sorting-class="is-asc">1個月原幣績效低至高</option>
                    <option value="3個月原幣績效高至低" data-sorting-column="ThreeMonthReturnOriginalCurrency.Value" data-sorting-class="is-desc">3個月原幣績效高至低</option>
                    <option value="3個月原幣績效低至高" data-sorting-column="ThreeMonthReturnOriginalCurrency.Value" data-sorting-class="is-asc">3個月原幣績效低至高</option>
                    <option value="6個月原幣績效高至低" data-sorting-column="SixMonthReturnOriginalCurrency.Value" data-sorting-class="is-desc">6個月原幣績效高至低</option>
                    <option value="6個月原幣績效低至高" data-sorting-column="SixMonthReturnOriginalCurrency.Value" data-sorting-class="is-asc">6個月原幣績效低至高</option>
                    <option value="1年原幣績效高至低" data-sorting-column="OneYearReturnOriginalCurrency.Value" data-sorting-class="is-desc">1年原幣績效高至低</option>
                    <option value="1年原幣績效低至高" data-sorting-column="OneYearReturnOriginalCurrency.Value" data-sorting-class="is-asc">1年原幣績效低至高</option>

                    <option value="1個月台幣績效高至低" data-sorting-column="OneMonthReturnTWD.Value" data-sorting-class="is-desc">1個月台幣績效高至低</option>
                    <option value="1個月台幣績效低至高" data-sorting-column="OneMonthReturnTWD.Value" data-sorting-class="is-asc">1個月台幣績效低至高</option>
                    <option value="3個月台幣績效高至低" data-sorting-column="ThreeMonthReturnTWD.Value" data-sorting-class="is-desc">3個月台幣績效高至低</option>
                    <option value="3個月台幣績效低至高" data-sorting-column="ThreeMonthReturnTWD.Value" data-sorting-class="is-asc">3個月台幣績效低至高</option>
                    <option value="6個月台幣績效高至低" data-sorting-column="SixMonthReturnTWD.Value" data-sorting-class="is-desc">6個月台幣績效高至低</option>
                    <option value="6個月台幣績效低至高" data-sorting-column="SixMonthReturnTWD.Value" data-sorting-class="is-asc">6個月台幣績效低至高</option>
                    <option value="1年台幣績效高至低" data-sorting-column="OneYearReturnTWD.Value" data-sorting-class="is-desc">1年台幣績效高至低</option>
                    <option value="1年台幣績效低至高" data-sorting-column="OneYearReturnTWD.Value" data-sorting-class="is-asc">1年台幣績效低至高</option>
                </select>
            </div>
        </div>
        @* ETF *@
        <div class="c-tab__panel is-active" data-tab-panel-id="tab-2">

            <div class="c-section" data-filter-empty="true">
                <div class="c-section__content">
                    <div class="c-empty">
                        <div class="c-empty__img">
                            <img src="~/themes/images/lions/lion-compare.svg" alt="">
                        </div>
                        <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                    </div>
                </div>
            </div>

            <div class="l-flex u-flex-col u-flex-gap-sm" data-filter-empty="false" style="display:none;">
                <div class="l-flex__item">
                    <div class="l-flex l-flex--wrap u-flex-gap-sm">
                        <div class="l-flex__item">
                            <div class="o-capsulebox">
                                <label class="o-capsulebox__item">
                                    <input type="radio" name="currency1" value="原幣" checked class="o-capsulebox__input" data-filter-switch="#uid-template-etf-original" data-filter-switch-columns="Original_etf" data-tab-currency="Original">
                                    <span class="o-capsulebox__text">原幣</span>
                                </label>
                                <label class="o-capsulebox__item">
                                    <input type="radio" name="currency1" value="台幣" class="o-capsulebox__input" data-filter-switch="#uid-template-etf-TWD" data-filter-switch-columns="TWD_etf" data-tab-currency="TWD">
                                    <span class="o-capsulebox__text">台幣</span>
                                </label>
                            </div>
                        </div>
                        <div class="l-flex__item u-right u-hidden@dt-only">
                            <div class="o-sortingbox">
                                <!-- [data-sortingbox="true"]: 載入後自動綁定手機版排序客製樣式下拉功能 -->
                                <select class="o-sortingbox__input" data-sortingbox="true" data-sorting-linkto="etfTable">
                                    <option value="">排序</option>
                                    <option value="ETF名稱高至低" data-sorting-column="FirstBankCode" data-sorting-class="is-desc">ETF名稱高至低</option>
                                    <option value="ETF名稱低至高" data-sorting-column="FirstBankCode" data-sorting-class="is-asc">ETF名稱低至高</option>
                                    <option value="交易所代碼高至低" data-sorting-column="ExchangeCode.Value" data-sorting-class="is-desc">交易所代碼高至低</option>
                                    <option value="交易所代碼低至高" data-sorting-column="ExchangeCode.Value" data-sorting-class="is-asc">交易所代碼低至高</option>
                                    <option value="市價高至低" data-sorting-column="MarketPrice.Value" data-sorting-class="is-desc">市價高至低</option>
                                    <option value="市價低至高" data-sorting-column="MarketPrice.Value" data-sorting-class="is-asc">市價低至高</option>
                                    <option value="幣別高至低" data-sorting-column="CurrencyPair.Key" data-sorting-class="is-desc">幣別高至低</option>
                                    <option value="幣別低至高" data-sorting-column="CurrencyPair.Key" data-sorting-class="is-asc">幣別低至高</option>
                                    <option value="1個月原幣績效高至低" data-sorting-column="MonthlyReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-desc">1個月原幣績效高至低</option>
                                    <option value="1個月原幣績效低至高" data-sorting-column="MonthlyReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-asc">1個月原幣績效低至高</option>
                                    <option value="3個月原幣績效高至低" data-sorting-column="ThreeMonthReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-desc">3個月原幣績效高至低</option>
                                    <option value="3個月原幣績效低至高" data-sorting-column="ThreeMonthReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-asc">3個月原幣績效低至高</option>
                                    <option value="6個月原幣績效高至低" data-sorting-column="SixMonthReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-desc">6個月原幣績效高至低</option>
                                    <option value="6個月原幣績效低至高" data-sorting-column="SixMonthReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-asc">6個月原幣績效低至高</option>
                                    <option value="1年原幣績效高至低" data-sorting-column="OneYearReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-desc">1年原幣績效高至低</option>
                                    <option value="1年原幣績效低至高" data-sorting-column="OneYearReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-asc">1年原幣績效低至高</option>

                                    <option value="1個月台幣績效高至低" data-sorting-column="MonthlyReturnMarketPriceTWD.Value" data-sorting-class="is-desc">1個月台幣績效高至低</option>
                                    <option value="1個月台幣績效低至高" data-sorting-column="MonthlyReturnMarketPriceTWD.Value" data-sorting-class="is-asc">1個月台幣績效低至高</option>
                                    <option value="3個月台幣績效高至低" data-sorting-column="ThreeMonthReturnMarketPriceTWD.Value" data-sorting-class="is-desc">3個月台幣績效高至低</option>
                                    <option value="3個月台幣績效低至高" data-sorting-column="ThreeMonthReturnMarketPriceTWD.Value" data-sorting-class="is-asc">3個月台幣績效低至高</option>
                                    <option value="6個月台幣績效高至低" data-sorting-column="SixMonthReturnMarketPriceTWD.Value" data-sorting-class="is-desc">6個月台幣績效高至低</option>
                                    <option value="6個月台幣績效低至高" data-sorting-column="SixMonthReturnMarketPriceTWD.Value" data-sorting-class="is-asc">6個月台幣績效低至高</option>
                                    <option value="1年台幣績效高至低" data-sorting-column="OneYearReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-desc">1年台幣績效高至低</option>
                                    <option value="1年台幣績效低至高" data-sorting-column="OneYearReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-asc">1年台幣績效低至高</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-flex__item">
                    <div class="l-table">
                        <table id="etf_table" class="c-table@dt-only c-cardTable@lt">
                            <colgroup>
                                <col style="width: auto;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                            </colgroup>
                            <thead>
                                <tr class="u-nowrap">
                                    <th>
                                        <div class="c-table__title">
                                            <span>ETF名稱</span>
                                            <!-- .is-asc: 升冪 -->
                                            <!-- .is-desc: 降冪 -->
                                            <a href="#" class="o-sorting" data-sorting-column="FirstBankCode"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>交易所代碼</span>
                                            <a href="#" class="o-sorting" data-sorting-column="ExchangeCode.Value"></a>
                                        </div>
                                    </th>
                                    @*【市價(日期)】=> 市價績效,市價風險,交易狀況,基本資料*@
                                    <th data-filter-switch-columns="etfTable,Original_etf,TWD_etf">
                                        <div class="c-table__title">
                                            <span>市價<br>(日期)</span>
                                            <a href="#" class="o-sorting" data-sorting-column="MarketPrice.Value"></a>
                                        </div>
                                    </th>
                                    @*【幣別】=> 市價績效,淨值績效,基本資料*@
                                    <th data-filter-switch-columns="etfTable,Original_etf,TWD_etf">
                                        <div class="c-table__title">
                                            <span>幣別</span>
                                            <a href="#popupCurrency" class="o-icon o-icon--tip o-icon--xs" data-popup="true"></a>
                                            <a href="#" class="o-sorting" data-sorting-column="CurrencyPair.Key"></a>
                                        </div>
                                    </th>
                                    @*【市價績效-報酬(原幣)】=> 市價績效*@
                                    <th data-filter-switch-columns="etfTable,Original_etf">
                                        <div class="c-table__title">
                                            <span>1個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="MonthlyReturnMarketPriceOriginalCurrency.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="etfTable,Original_etf">
                                        <div class="c-table__title">
                                            <span>3個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="ThreeMonthReturnMarketPriceOriginalCurrency.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="etfTable,Original_etf">
                                        <div class="c-table__title">
                                            <span>6個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="SixMonthReturnMarketPriceOriginalCurrency.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="etfTable,Original_etf">
                                        <div class="c-table__title">
                                            <span>1年</span>
                                            <a href="#" class="o-sorting" data-sorting-column="OneYearReturnMarketPriceOriginalCurrency.Value"></a>
                                        </div>
                                    </th>
                                    @*【市價績效-報酬(台幣)】=> 市價績效*@
                                    <th data-filter-switch-columns="etfTable,TWD_etf">
                                        <div class="c-table__title">
                                            <span>1個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="MonthlyReturnMarketPriceTWD.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="etfTable,TWD_etf">
                                        <div class="c-table__title">
                                            <span>3個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="ThreeMonthReturnMarketPriceTWD.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="etfTable,TWD_etf">
                                        <div class="c-table__title">
                                            <span>6個月</span>
                                            <a href="#" class="o-sorting" data-sorting-column="SixMonthReturnMarketPriceTWD.Value"></a>
                                        </div>
                                    </th>
                                    <th data-filter-switch-columns="etfTable,TWD_etf">
                                        <div class="c-table__title">
                                            <span>1年</span>
                                            <a href="#" class="o-sorting" data-sorting-column="OneYearReturnMarketPriceOriginalCurrency.Value"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>關注/比較</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>申購</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="uid-fjs-etf">
                            </tbody>
                            @{
                                Html.RenderPartial("/Views/Feature/Wealth/Component/SiteProductSearch/SearchResult/_EtfResultTemplate.cshtml", Model);
                            }
                        </table>

                        <div class="l-pagination">
                            <div class="l-pagination__size" id="uid-perPage-etf">
                            </div>
                            <script id="uid-template-perPage-etf" type="text/html">
                                <span>每頁顯示</span>
                                <!-- [data-sizebox="true"]: 載入後自動綁定分頁筆數客製樣式下拉功能 -->
                                <select id="uid-view-perPage-etf" name="per_page" data-perpage="true" class="o-selectbox o-selectbox--pagesize">
                                    <% for(var i = 0; i < values.length - 1; i++ ) { %>
                                    <option value="<%= values[i] %>"><%= values[i] %>筆</option>
                                    <% } %>
                                    <option value="<%= values[values.length - 1] %>">全部</option>
                                </select>
                            </script>
                            <div class="l-pagination__switch" id="uid-pagination-etf">
                            </div>
                            <script id="uid-template-pagination-etf" type="text/html">
                                <div class="o-pagination">
                                    <% if (currentPage > 1) { %>
                                    <a href="javascript:;" data-page="prev" class="o-pagination__prev"></a>
                                    <% } else { %>
                                    <!-- .is-disabled: 停用狀態，無法點擊 -->
                                    <a href="#" class="o-pagination__prev is-disabled"></a>
                                    <% } %>
                                    <span class="o-pagination__pager">
                                        <input data-page-input type="number" value="<%= currentPage %>" class="o-pagination__no">
                                        <span class="o-pagination__total"><%= totalPages %></span>
                                    </span>
                                    <% if (currentPage < totalPages ) { %>
                                    <a href="javascript:;" data-page="next" class="o-pagination__next"></a>
                                    <% } else { %>
                                    <a href="javascript:;" data-page="next" class="o-pagination__next is-disabled"></a>
                                    <% } %>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="o-sortingbox" style="display:none;">
                @*ETF 所有欄位*@
                <select class="o-sortingbox__input" data-sortingbox-all data-sortingbox="true" id="uid-sortbox-etf">
                    <option value="">排序</option>
                    <option value="ETF名稱高至低" data-sorting-column="FirstBankCode" data-sorting-class="is-desc">ETF名稱高至低</option>
                    <option value="ETF名稱低至高" data-sorting-column="FirstBankCode" data-sorting-class="is-asc">ETF名稱低至高</option>
                    <option value="交易所代碼高至低" data-sorting-column="ExchangeCode.Value" data-sorting-class="is-desc">交易所代碼高至低</option>
                    <option value="交易所代碼低至高" data-sorting-column="ExchangeCode.Value" data-sorting-class="is-asc">交易所代碼低至高</option>
                    <option value="市價高至低" data-sorting-column="MarketPrice.Value" data-sorting-class="is-desc">市價高至低</option>
                    <option value="市價低至高" data-sorting-column="MarketPrice.Value" data-sorting-class="is-asc">市價低至高</option>
                    <option value="幣別高至低" data-sorting-column="CurrencyPair.Key" data-sorting-class="is-desc">幣別高至低</option>
                    <option value="幣別低至高" data-sorting-column="CurrencyPair.Key" data-sorting-class="is-asc">幣別低至高</option>
                    @*市價績效*@
                    <option value="1個月績效高至低" data-sorting-column="MonthlyReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-desc">1個月績效高至低</option>
                    <option value="1個月績效低至高" data-sorting-column="MonthlyReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-asc">1個月績效低至高</option>
                    <option value="3個月績效高至低" data-sorting-column="ThreeMonthReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-desc">3個月績效高至低</option>
                    <option value="3個月績效低至高" data-sorting-column="ThreeMonthReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-asc">3個月績效低至高</option>
                    <option value="6個月績效高至低" data-sorting-column="SixMonthReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-desc">6個月績效高至低</option>
                    <option value="6個月績效低至高" data-sorting-column="SixMonthReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-asc">6個月績效低至高</option>
                    <option value="1年績效高至低" data-sorting-column="OneYearReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-desc">1年績效高至低</option>
                    <option value="1年績效低至高" data-sorting-column="OneYearReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-asc">1年績效低至高</option>

                    <option value="1個月績效高至低" data-sorting-column="MonthlyReturnMarketPriceTWD.Value" data-sorting-class="is-desc">1個月績效高至低</option>
                    <option value="1個月績效低至高" data-sorting-column="MonthlyReturnMarketPriceTWD.Value" data-sorting-class="is-asc">1個月績效低至高</option>
                    <option value="3個月績效高至低" data-sorting-column="ThreeMonthReturnMarketPriceTWD.Value" data-sorting-class="is-desc">3個月績效高至低</option>
                    <option value="3個月績效低至高" data-sorting-column="ThreeMonthReturnMarketPriceTWD.Value" data-sorting-class="is-asc">3個月績效低至高</option>
                    <option value="6個月績效高至低" data-sorting-column="SixMonthReturnMarketPriceTWD.Value" data-sorting-class="is-desc">6個月績效高至低</option>
                    <option value="6個月績效低至高" data-sorting-column="SixMonthReturnMarketPriceTWD.Value" data-sorting-class="is-asc">6個月績效低至高</option>
                    <option value="1年績效高至低" data-sorting-column="OneYearReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-desc">1年績效高至低</option>
                    <option value="1年績效低至高" data-sorting-column="OneYearReturnMarketPriceOriginalCurrency.Value" data-sorting-class="is-asc">1年績效低至高</option>
                </select>
            </div>
        </div>
        @* 國外股票 *@
        <div class="c-tab__panel" data-tab-panel-id="tab-3">

            <div class="c-section" data-filter-empty="true">
                <div class="c-section__content">
                    <div class="c-empty">
                        <div class="c-empty__img">
                            <img src="~/themes/images/lions/lion-compare.svg" alt="">
                        </div>
                        <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                    </div>
                </div>
            </div>

            <div class="l-flex u-flex-col u-flex-gap-sm" data-filter-empty="false" style="display:none;">
                <div class="l-flex__item">
                    <div class="l-flex l-flex--wrap u-flex-gap-sm">
                        <div class="l-flex__item u-right u-hidden@dt-only">
                            <div class="o-sortingbox">
                                <!-- [data-sortingbox="true"]: 載入後自動綁定手機版排序客製樣式下拉功能 -->
                                <select class="o-sortingbox__input" data-sortingbox="true" data-sorting-linkto="foreignstockTable" id="uid-sortbox-fstock">
                                    <option value="">排序</option>
                                    <option value="股票名稱高至低" data-sorting-column="FirstBankCode" data-sorting-class="is-desc">股票名稱高至低</option>
                                    <option value="股票名稱低至高" data-sorting-column="FirstBankCode" data-sorting-class="is-asc">股票名稱低至高</option>
                                    <option value="交易所代碼高至低" data-sorting-column="FundCodePair.Key" data-sorting-class="is-desc">交易所代碼高至低</option>
                                    <option value="交易所代碼低至高" data-sorting-column="FundCodePair.Key" data-sorting-class="is-asc">交易所代碼低至高</option>
                                    <option value="收盤價高至低" data-sorting-column="ClosingPrice.Key" data-sorting-class="is-desc">收盤價高至低</option>
                                    <option value="收盤價低至高" data-sorting-column="ClosingPrice.Key" data-sorting-class="is-asc">收盤價低至高</option>
                                    <option value="1日績效高至低" data-sorting-column="DailyReturn.Value" data-sorting-class="is-desc">1日績效高至低</option>
                                    <option value="1日績效低至高" data-sorting-column="DailyReturn.Value" data-sorting-class="is-asc">1日績效低至高</option>
                                    <option value="1週績效高至低" data-sorting-column="WeeklyReturn.Value" data-sorting-class="is-desc">1週績效高至低</option>
                                    <option value="1週績效低至高" data-sorting-column="WeeklyReturn.Value" data-sorting-class="is-asc">1週績效低至高</option>
                                    <option value="1月績效高至低" data-sorting-column="MonthlyReturn.Value" data-sorting-class="is-desc">1月績效高至低</option>
                                    <option value="1月績效低至高" data-sorting-column="MonthlyReturn.Value" data-sorting-class="is-asc">1月績效低至高</option>
                                    <option value="1季績效高至低" data-sorting-column="ThreeMonthReturn.Value" data-sorting-class="is-desc">1季績效高至低</option>
                                    <option value="1季績效低至高" data-sorting-column="ThreeMonthReturn.Value" data-sorting-class="is-asc">1季績效低至高</option>
                                    <option value="1年績效高至低" data-sorting-column="OneYearReturn.Value" data-sorting-class="is-desc">1年績效高至低</option>
                                    <option value="1年績效低至高" data-sorting-column="OneYearReturn.Value" data-sorting-class="is-asc">1年績效低至高</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-flex__item">
                    <div class="l-table">
                        <table id="fstock_table" class="c-table@dt-only c-cardTable@lt">
                            <colgroup>
                                <col style="width: auto;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                            </colgroup>
                            <thead>
                                <tr class="u-nowrap">
                                    <th>
                                        <div class="c-table__title">
                                            <span>股票名稱</span>
                                            <a href="#" class="o-sorting" data-sorting-column="FirstBankCode"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>交易所代碼</span>
                                            <a href="#" class="o-sorting" data-sorting-column="FundCodePair.Key"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>收盤價<br>(收盤日)</span>
                                            <a href="#" class="o-sorting" data-sorting-column="ClosingPrice.Key"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>1日績效</span>
                                            <a href="#" class="o-sorting" data-sorting-column="DailyReturn.Value"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>1週績效</span>
                                            <a href="#" class="o-sorting" data-sorting-column="WeeklyReturn.Value"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>1月績效</span>
                                            <a href="#" class="o-sorting" data-sorting-column="MonthlyReturn.Value"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>1季績效</span>
                                            <a href="#" class="o-sorting" data-sorting-column="ThreeMonthReturn.Value"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>1年績效</span>
                                            <a href="#" class="o-sorting" data-sorting-column="OneYearReturn.Value"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>關注</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>申購</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="uid-fjs-fstock">
                            </tbody>
                            @{
                                Html.RenderPartial("/Views/Feature/Wealth/Component/SiteProductSearch/SearchResult/_ForeignStockResultTemplate.cshtml", Model);
                            }
                        </table>

                        <div class="l-pagination">
                            <div class="l-pagination__size" id="uid-perPage-fstock">
                            </div>
                            <script id="uid-template-perPage-fstock" type="text/html">
                                <span>每頁顯示</span>
                                <!-- [data-sizebox="true"]: 載入後自動綁定分頁筆數客製樣式下拉功能 -->
                                <select id="uid-view-perPage-fstock" name="per_page" data-perpage="true" class="o-selectbox o-selectbox--pagesize">
                                    <% for(var i = 0; i < values.length - 1; i++ ) { %>
                                    <option value="<%= values[i] %>"><%= values[i] %>筆</option>
                                    <% } %>
                                    <option value="<%= values[values.length - 1] %>">全部</option>
                                </select>
                            </script>
                            <div class="l-pagination__switch" id="uid-pagination-fstock">
                            </div>
                            <script id="uid-template-pagination-fstock" type="text/html">
                                <div class="o-pagination">
                                    <% if (currentPage > 1) { %>
                                    <a href="javascript:;" data-page="prev" class="o-pagination__prev"></a>
                                    <% } else { %>
                                    <!-- .is-disabled: 停用狀態，無法點擊 -->
                                    <a href="#" class="o-pagination__prev is-disabled"></a>
                                    <% } %>
                                    <span class="o-pagination__pager">
                                        <input data-page-input type="number" value="<%= currentPage %>" class="o-pagination__no">
                                        <span class="o-pagination__total"><%= totalPages %></span>
                                    </span>
                                    <% if (currentPage < totalPages ) { %>
                                    <a href="javascript:;" data-page="next" class="o-pagination__next"></a>
                                    <% } else { %>
                                    <a href="javascript:;" data-page="next" class="o-pagination__next is-disabled"></a>
                                    <% } %>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 國外債券 *@
        <div class="c-tab__panel" data-tab-panel-id="tab-4">

            <div class="c-section" data-filter-empty="true">
                <div class="c-section__content">
                    <div class="c-empty">
                        <div class="c-empty__img">
                            <img src="~/themes/images/lions/lion-compare.svg" alt="">
                        </div>
                        <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                    </div>
                </div>
            </div>

            <div class="l-flex u-flex-col u-flex-gap-sm" data-filter-empty="false" style="display:none;">
                <div class="l-flex__item">
                    <div class="l-flex l-flex--wrap u-flex-gap-sm">
                        <div class="l-flex__item u-right u-hidden@dt-only">
                            <div class="o-sortingbox">
                                <!-- [data-sortingbox="true"]: 載入後自動綁定手機版排序客製樣式下拉功能 -->
                                <select class="o-sortingbox__input" data-sortingbox="true" data-sorting-linkto="foreignbondTable" id="uid-sortbox-fbond">
                                    <option value="">排序</option>
                                    <option value="債券名稱高至低" data-sorting-column="BondCode" data-sorting-class="is-desc">債券名稱高至低</option>
                                    <option value="債券名稱低至高" data-sorting-column="BondCode" data-sorting-class="is-asc">債券名稱低至高</option>
                                    <option value="幣別高至低" data-sorting-column="CurrencyCode" data-sorting-class="is-desc">幣別高至低</option>
                                    <option value="幣別低至高" data-sorting-column="CurrencyCode" data-sorting-class="is-asc">幣別低至高</option>
                                    <option value="票面利率高至低" data-sorting-column="InterestRate" data-sorting-class="is-desc">票面利率高至低</option>
                                    <option value="票面利率低至高" data-sorting-column="InterestRate" data-sorting-class="is-asc">票面利率低至高</option>
                                    <option value="到期日高至低" data-sorting-column="MaturityDate" data-sorting-class="is-desc">到期日高至低</option>
                                    <option value="到期日低至高" data-sorting-column="MaturityDate" data-sorting-class="is-asc">到期日低至高</option>
                                    <option value="殖利率高至低" data-sorting-column="YieldRateYTM" data-sorting-class="is-desc">殖利率高至低</option>
                                    <option value="殖利率低至高" data-sorting-column="YieldRateYTM" data-sorting-class="is-asc">殖利率低至高</option>
                                    <option value="參考申購價高至低" data-sorting-column="SubscriptionFee" data-sorting-class="is-desc">參考申購價高至低</option>
                                    <option value="參考申購價低至高" data-sorting-column="SubscriptionFee" data-sorting-class="is-asc">參考申購價低至高</option>
                                    <option value="漲跌月高至低" data-sorting-column="UpsAndDownsMonth" data-sorting-class="is-desc">漲跌月高至低</option>
                                    <option value="漲跌月低至高" data-sorting-column="UpsAndDownsMonth" data-sorting-class="is-asc">漲跌月低至高</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-flex__item">
                    <div class="l-table">
                        <table id="fbond_table" class="c-table@dt-only c-cardTable@lt">
                            <colgroup>
                                <col style="width: auto;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                            </colgroup>
                            <thead>
                                <tr class="u-nowrap">
                                    <th>
                                        <div class="c-table__title">
                                            <span>債券名稱</span>
                                            <a href="#" class="o-sorting" data-sorting-column="BondCode"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>幣別</span>
                                            <a href="#popupCurrency" class="o-icon o-icon--tip o-icon--xs" data-popup="true"></a>
                                            <a href="#" class="o-sorting" data-sorting-column="CurrencyCode"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>票面利率</span>
                                            <a href="#" class="o-sorting" data-sorting-column="InterestRate"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>到期日</span>
                                            <a href="#" class="o-sorting" data-sorting-column="MaturityDate"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>殖利率</span>
                                            <a href="#" class="o-sorting" data-sorting-column="YieldRateYTM"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>參考申購價<br />(含前手息)<br />(報價日期)</span>
                                            <a href="#" class="o-sorting" data-sorting-column="SubscriptionFee"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>漲跌月%</span>
                                            <a href="#" class="o-sorting" data-sorting-column="UpsAndDownsMonth"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>英文公開說明書</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>關注</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>申購</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="uid-fjs-fbond">
                            </tbody>
                            @{
                                Html.RenderPartial("/Views/Feature/Wealth/Component/SiteProductSearch/SearchResult/_ForeignBondResultTemplate.cshtml", Model);
                            }
                        </table>

                        <div class="l-pagination">
                            <div class="l-pagination__size" id="uid-perPage-fbond">
                            </div>
                            <script id="uid-template-perPage-fbond" type="text/html">
                                <span>每頁顯示</span>
                                <!-- [data-sizebox="true"]: 載入後自動綁定分頁筆數客製樣式下拉功能 -->
                                <select id="uid-view-perPage-fbond" name="per_page" data-perpage="true" class="o-selectbox o-selectbox--pagesize">
                                    <% for(var i = 0; i < values.length - 1; i++ ) { %>
                                    <option value="<%= values[i] %>"><%= values[i] %>筆</option>
                                    <% } %>
                                    <option value="<%= values[values.length - 1] %>">全部</option>
                                </select>
                            </script>
                            <div class="l-pagination__switch" id="uid-pagination-fbond">
                            </div>
                            <script id="uid-template-pagination-fbond" type="text/html">
                                <div class="o-pagination">
                                    <% if (currentPage > 1) { %>
                                    <a href="javascript:;" data-page="prev" class="o-pagination__prev"></a>
                                    <% } else { %>
                                    <!-- .is-disabled: 停用狀態，無法點擊 -->
                                    <a href="#" class="o-pagination__prev is-disabled"></a>
                                    <% } %>
                                    <span class="o-pagination__pager">
                                        <input data-page-input type="number" value="<%= currentPage %>" class="o-pagination__no">
                                        <span class="o-pagination__total"><%= totalPages %></span>
                                    </span>
                                    <% if (currentPage < totalPages ) { %>
                                    <a href="javascript:;" data-page="next" class="o-pagination__next"></a>
                                    <% } else { %>
                                    <a href="javascript:;" data-page="next" class="o-pagination__next is-disabled"></a>
                                    <% } %>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 結構型商品 *@
        <div class="c-tab__panel" data-tab-panel-id="tab-5">

            <div class="c-section" data-filter-empty="true">
                <div class="c-section__content">
                    <div class="c-empty">
                        <div class="c-empty__img">
                            <img src="~/themes/images/lions/lion-compare.svg" alt="">
                        </div>
                        <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
                    </div>
                </div>
            </div>

            <div class="l-flex u-flex-col u-flex-gap-sm" data-filter-empty="false" style="display:none;">
                <div class="l-flex__item">
                    <div class="l-flex l-flex--wrap u-flex-gap-sm">
                        <div class="l-flex__item u-right u-hidden@dt-only">
                            <div class="o-sortingbox">
                                <!-- [data-sortingbox="true"]: 載入後自動綁定手機版排序客製樣式下拉功能 -->
                                <select class="o-sortingbox__input" data-sortingbox="true" data-sorting-linkto="marketRiskTable" id="uid-sortbox-sip">
                                    <option value="">排序</option>
                                    <option value="股票名稱高至低" data-sorting-column="ProductCode" data-sorting-class="is-desc">股票名稱高至低</option>
                                    <option value="股票名稱低至高" data-sorting-column="ProductCode" data-sorting-class="is-asc">股票名稱低至高</option>
                                    <option value="發行機構高至低" data-sorting-column="IssuingInstitutionPair.Value" data-sorting-class="is-desc">發行機構高至低</option>
                                    <option value="發行機構低至高" data-sorting-column="IssuingInstitutionPair.Value" data-sorting-class="is-asc">發行機構低至高</option>
                                    <option value="幣別高至低" data-sorting-column="CurrencyCode" data-sorting-class="is-desc">幣別高至低</option>
                                    <option value="幣別低至高" data-sorting-column="CurrencyCode" data-sorting-class="is-asc">幣別低至高</option>
                                    <option value="到期日近至遠" data-sorting-column="ProductMaturityDatePair.Key" data-sorting-class="is-desc">到期日近至遠</option>
                                    <option value="到期日遠至近" data-sorting-column="ProductMaturityDatePair.Key" data-sorting-class="is-asc">到期日遠至近</option>
                                    <option value="參考贖回價高至低" data-sorting-column="BankSellPricePair.Key" data-sorting-class="is-desc">參考贖回價高至低</option>
                                    <option value="參考贖回價低至高" data-sorting-column="BankSellPricePair.Key" data-sorting-class="is-asc">參考贖回價低至高</option>
                                    <option value="價格日期近至遠" data-sorting-column="PriceBaseDatePair.Key" data-sorting-class="is-desc">價格日期近至遠</option>
                                    <option value="價格日期遠至近" data-sorting-column="PriceBaseDatePair.Key" data-sorting-class="is-asc">價格日期遠至近</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-flex__item">
                    <div class="l-table">
                        <table id="sip_table" class="c-table@dt-only c-cardTable@lt">
                            <colgroup>
                                <col style="width: auto;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                                <col style="width: 1%;">
                            </colgroup>
                            <thead>
                                <tr class="u-nowrap">
                                    <th>
                                        <div class="c-table__title">
                                            <span>商品名稱</span>
                                            <a href="#" class="o-sorting" data-sorting-column="ProductCode"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>發行機構</span>
                                            <a href="#" class="o-sorting" data-sorting-column="IssuingInstitutionPair.Value"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>幣別</span>
                                            <a href="#popupCurrency" class="o-icon o-icon--tip o-icon--xs" data-popup="true"></a>
                                            <a href="#" class="o-sorting" data-sorting-column="CurrencyCode"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>到期日</span>
                                            <a href="#" class="o-sorting" data-sorting-column="ProductMaturityDatePair.Key"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>參考贖回價</span>
                                            <a href="#" class="o-sorting" data-sorting-column="BankSellPricePair.Key"></a>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="c-table__title">
                                            <span>價格日期</span>
                                            <a href="#" class="o-sorting" data-sorting-column="PriceBaseDatePair.Key"></a>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="uid-fjs-sip"></tbody>
                            @{
                                Html.RenderPartial("/Views/Feature/Wealth/Component/SiteProductSearch/SearchResult/_StructuredProductResultTemplate.cshtml", Model);
                            }
                        </table>

                        <div class="l-pagination">
                            <div class="l-pagination__size" id="uid-perPage-sip">
                            </div>
                            <script id="uid-template-perPage-sip" type="text/html">
                                <span>每頁顯示</span>
                                <!-- [data-sizebox="true"]: 載入後自動綁定分頁筆數客製樣式下拉功能 -->
                                <select id="uid-view-perPage-sip" name="per_page" data-perpage="true" class="o-selectbox o-selectbox--pagesize">
                                    <% for(var i = 0; i < values.length - 1; i++ ) { %>
                                    <option value="<%= values[i] %>"><%= values[i] %>筆</option>
                                    <% } %>
                                    <option value="<%= values[values.length - 1] %>">全部</option>
                                </select>
                            </script>
                            <div class="l-pagination__switch" id="uid-pagination-sip">
                            </div>
                            <script id="uid-template-pagination-sip" type="text/html">
                                <div class="o-pagination">
                                    <% if (currentPage > 1) { %>
                                    <a href="javascript:;" data-page="prev" class="o-pagination__prev"></a>
                                    <% } else { %>
                                    <!-- .is-disabled: 停用狀態，無法點擊 -->
                                    <a href="#" class="o-pagination__prev is-disabled"></a>
                                    <% } %>
                                    <span class="o-pagination__pager">
                                        <input data-page-input type="number" value="<%= currentPage %>" class="o-pagination__no">
                                        <span class="o-pagination__total"><%= totalPages %></span>
                                    </span>
                                    <% if (currentPage < totalPages ) { %>
                                    <a href="javascript:;" data-page="next" class="o-pagination__next"></a>
                                    <% } else { %>
                                    <a href="javascript:;" data-page="next" class="o-pagination__next is-disabled"></a>
                                    <% } %>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>