<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore>
    <settings>
      <setting name="downloadUrl" value="https://dj2.moneydj.com/download/firstbank/FirstbankRawdata2.zip" />
      <setting name="targetFolder" value="C:\inetpub\wwwroot\sitecore\weamg.fcbsrv.fcb.local\App_Data\zip" />
      <setting name="destFolder" value="C:\inetpub\wwwroot\sitecore\weamg.fcbsrv.fcb.local\App_Data\DBZIP" />
      <setting name="FundBSC" value="C:\inetpub\wwwroot\sitecore\weamg.fcbsrv.fcb.local\App_Data\DBZIP\理財網檔案_20240325\TFJSBSC.240324.1000.TXT" />
      <setting name="FundETF" value="C:\Users\esther.lin\Downloads\理財網檔案_20240325\理財網檔案_20240325\FUND_ETF.TXT" />
      <setting name="FundSize" value="C:\inetpub\wwwroot\sitecore\weamg.fcbsrv.fcb.local\App_Data\DBZIP\理財網檔案_20240325\FUND_SIZE.TXT" />
      <setting name="FundTRB" value="C:\Users\esther.lin\Downloads\理財網檔案_20240325\理財網檔案_20240325\FUNDTRB.TXT" />
      <setting name="WMS" value="C:\Users\esther.lin\Downloads\WMS_DOC_RECM_20240327.TXT" />
      <setting name="FUND_NAV_TFJSNAV" value="C:\inetpub\wwwroot\sitecore\weamg.fcbsrv.fcb.local\App_Data\DBZIP\理財網檔案_20240325\TFJSNAV.240324.1000.TXT" />
      <setting name="ETF_NAV_TFJENAV" value="C:\inetpub\wwwroot\sitecore\weamg.fcbsrv.fcb.local\App_Data\DBZIP\理財網檔案_20240325\TFJENAV.240324.1000.TXT" />
    </settings>
  </sitecore>
</configuration>