<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore>
    <settings>
      <setting name="Feature.Wealth.ScheduleAgent.FeatureToggle.Ftp" value="true" />
      <setting name="Feature.Wealth.ScheduleAgent.FeatureToggle.Sftp" value="false" />
      <setting name="Feature.Wealth.ScheduleAgent.FeatureToggle.Db" value="false" />
      
      <setting name="WMS" role:require="ContentManagement">
        <patch:attribute name="value" environment:require="Local or Production or Staging">C:\FCB999\WMS_DOC_RECM_20240327.TXT</patch:attribute>
        <patch:attribute name="value" environment:require="Production">D:\FCB</patch:attribute>
      </setting>
      <setting name="EFND" role:require="ContentManagement">
        <patch:attribute name="value" environment:require="Local or Production or Staging">C:\FCB999\EFND.txt</patch:attribute>
        <patch:attribute name="value" environment:require="Production">D:\FCB</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>