

<div class="l-mainstage">
    <div class="l-mainstage__wrap">
        <div class="l-mainstage__title">
            <h1 class="t-title">

            </h1>
        </div>
        <div class="l-mainstage__content">
            <div class="l-calcResult">
                <div class="l-calcResult__content">
                    <div class="l-calcResult__desc t-bold s3" id="resultContent">

                    </div>
                    <div class="l-calcResult__charts">
                        <div id="chartsGap"></div>
                    </div>
                </div>
                <div class="l-calcResult__lecture">
                    <div class="c-calcLecture">
                        <div class="c-calcLecture__caption">
                            <img src="./../../themes/images/lions/comeon.svg" class="c-calcLecture__img" alt="">
                        </div>
                        <div class="c-calcLecture__content">
                            <div class="s3 t-bold">
                                依照您的規劃可能無法達到目標，我們提供<span class="t-warning u-nowrap">「3個推薦方案」</span>讓您有機會達成目標！
                            </div>
                            <div class="c-calcLecture__actions">
                                <!-- #btnSolutions: 為了綁定 scrollto 滑動到方案的效果，script 請見下方 -->
                                <a id="btnSolutions" href="#" class="o-btn o-btn--primary o-btn--sm o-btn--flat">查看推薦方案</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
