<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <sc.variable name="demo.01" value="demo-zh-hant" patch:before="prototypes[1]" />
    <sc.variable name="wealth.01" value="wealth-zh-hant" patch:before="prototypes[1]" />
    <sites>
      <site name="$(demo.01)" inherits="website" patch:before="site[@name='website']" environment:require="Development or Staging or Local">
        <patch:attribute name="virtualFolder">/demo</patch:attribute>
        <patch:attribute name="physicalFolder">/</patch:attribute>
        <patch:attribute name="rootPath">/sitecore/content</patch:attribute>
        <patch:attribute name="startItem">/demo</patch:attribute>
        <patch:attribute name="language">zh-TW</patch:attribute>
        <patch:attribute name="cacheHtml" role:require="ContentManagement">false</patch:attribute>
        <patch:attribute name="disableBrowserCaching" role:require="ContentDelivery">false</patch:attribute>
      </site>
      <site name="$(wealth.01)" inherits="website" patch:before="site[@name='website']">
        <patch:attribute name="virtualFolder">/</patch:attribute>
        <patch:attribute name="physicalFolder">/</patch:attribute>
        <patch:attribute name="rootPath">/sitecore/content/firstbank/zh-hant</patch:attribute>
        <patch:attribute name="startItem">/home</patch:attribute>
        <patch:attribute name="language">zh-TW</patch:attribute>
        <patch:attribute name="hostName" environment:require="Local"></patch:attribute>
        <patch:attribute name="hostName" role:require="ContentManagement" environment:require="Development">fcbdev-cm.esi-tech.net|fcbdev811.esi-tech.net</patch:attribute>
        <patch:attribute name="hostName" role:require="ContentDelivery" environment:require="Development">fcb.cd|fcb.cd2|fcbdev.esi-tech.net</patch:attribute>
        <patch:attribute name="hostName" role:require="ContentManagement" environment:require="Staging">weamg.firstbank-tt.com.tw</patch:attribute>
        <patch:attribute name="hostName" role:require="ContentDelivery" environment:require="Staging">weaap.fcbsrv-tt.fcb.local|wealth.firstbank-tt.com.tw</patch:attribute>
        <patch:attribute name="hostName" role:require="ContentManagement" environment:require="Production">weamg.firstbank.com.tw</patch:attribute>
        <patch:attribute name="hostName" role:require="ContentDelivery" environment:require="Production">weaap1.fcbsrv.fcb.local|weaap2.fcbsrv.fcb.local|wealth.firstbank.com.tw</patch:attribute>
        <patch:attribute name="targetHostName" environment:require="Local"></patch:attribute>
        <patch:attribute name="targetHostName" role:require="ContentManagement" environment:require="Development">fcbdev-cm.esi-tech.net</patch:attribute>
        <patch:attribute name="targetHostName" role:require="ContentDelivery" environment:require="Development">fcbdev.esi-tech.net</patch:attribute>
        <patch:attribute name="targetHostName" role:require="ContentManagement" environment:require="Staging">weamg.firstbank-tt.com.tw</patch:attribute>
        <patch:attribute name="targetHostName" role:require="ContentDelivery" environment:require="Staging">wealth.firstbank-tt.com.tw</patch:attribute>
        <patch:attribute name="targetHostName" role:require="ContentManagement" environment:require="Production">weamg.firstbank.com.tw</patch:attribute>
        <patch:attribute name="targetHostName" role:require="ContentDelivery" environment:require="Production">wealth.firstbank.com.tw</patch:attribute>
      </site>
    </sites>
    <settings>
      <!--排程Sitecron資料擷取下來路徑-->
      <setting name="LocalDirectory" role:require="ContentManagement">
        <patch:attribute name="value" environment:require="Local or Development or Staging">C:\FCB999</patch:attribute>
        <patch:attribute name="value" environment:require="Production">D:\FCB</patch:attribute>
      </setting>
      <!--嘉實api-->
      <setting name="MoneyDjApiRoute">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://openapitest.moneydj.com/</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://openapi.moneydj.com/</patch:attribute>
      </setting>
      <!--嘉實api token-->
      <setting name="MoneyDjToken">
        <patch:attribute name="value" environment:require="Local or Development or Staging">eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiJjZjQyYTkzMi04YWUxLTQ5ZmUtYWU1OC1jOTM4NDRkMjlkN2EiLCJpc3MiOiJTeXNqdXN0In0.2ywoAPjfRn7ngo9eKBe264VmwrH9xKqlzmEhVX-XZIEoGGI3ksHon2I2QRfLQJZytStTk6uavWL3KNBuHx0JPw</patch:attribute>
        <patch:attribute name="value" environment:require="Production">eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiJjM2U5MTg4Yy05ZDE4LTRiMDctYWE1Yy1hNmU2Y2E5N2FjNjEiLCJpc3MiOiJTeXNqdXN0In0.5goZSRx-8Qwj86eV_7LOlvuQUeMusROqVElFVIIagQ4l82BDjun918vmqHR99_7aBsn0Ki_9esnojwyO_aNLFg</patch:attribute>
      </setting>
      <!--基金申購-第e個網-->
      <setting name="WebSubscriptionSingle">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://ibanktest.firstbank.com.tw/NetBank/6/030101.html?FundCode={}</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://ibank.firstbank.com.tw/NetBank/6/030101.html?FundCode={}</patch:attribute>
      </setting>
      <setting name="WebSubscriptionRegular">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://ibanktest.firstbank.com.tw/NetBank/6/040101.html?FundCode={}</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://ibank.firstbank.com.tw/NetBank/6/040101.html?FundCode={}</patch:attribute>
      </setting>
      <!--基金申購-第e行動-->
      <setting name="MobileESingle" value="https://fcblink.page.link/?link=https://fcblink.page.link/F01?FundCode%3D{}&amp;apn=com.willmobile.mobilebank.fcb&amp;isi=408289025&amp;ibi=com.firstbank.mbank" />
      <setting name="MobileERegular" value="https://fcblink.page.link/?link=https://fcblink.page.link/F02?FundCode%3D{}&amp;apn=com.willmobile.mobilebank.fcb&amp;isi=408289025&amp;ibi=com.firstbank.mbank" />
      <!--基金申購-iLeo-->
      <setting name="MobileIleoSingle">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://fcbileodev.page.link/?link=https%3A%2F%2Ffcbileodev.page.link%2FFundSingle?FundCode%3D{}&amp;apn=com.firstbank.mbanklite.debug&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://fcbileo.page.link/?link=https%3A%2F%2Ffcbileo.page.link%2FFundSingle?FundCode%3D{}&amp;apn=com.firstbank.mbanklite&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite</patch:attribute>
      </setting>
      <setting name="MobileIleoRegular">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://fcbileodev.page.link/?link=https%3A%2F%2Ffcbileodev.page.link%2FFundRegular?FundCode%3D{}&amp;apn=com.firstbank.mbanklite.debug&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://fcbileo.page.link/?link=https%3A%2F%2Ffcbileo.page.link%2FFundRegular?FundCode%3D{}&amp;apn=com.firstbank.mbanklite&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite</patch:attribute>
      </setting>
      <!--ETF、國外股票申購-第e個網-->
      <setting name="WebEntrust">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://ibanktest.firstbank.com.tw/NetBank/ETF/txnBuy-RWD.html?prdCode=代碼</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://ibank.firstbank.com.tw/NetBank/ETF/txnBuy-RWD.html?prdCode=代碼</patch:attribute>
      </setting>
      <!--ETF、國外股票申購-第e行動-->
      <setting name="MobileEntrust" value="https://fcblink.page.link/?link=https%3A%2F%2Ffcblink.page.link%2FF18%3Fchn%3Dwms%26emp_id%3D%26prdCode%3D代碼&amp;apn=com.willmobile.mobilebank.fcb&amp;isi=408289025&amp;ibi=com.firstbank.mbank"/>
      <!--ETF、國外股票申購-iLeo-->
      <setting name="IleoEntrust">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://fcbileodev.page.link/?link=https%3A%2F%2Ffcbileodev.page.link%2FFundETFBuy%3FFundCode%3D代碼&amp;apn=com.firstbank.mbanklite.debug&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite.DEV</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://fcbileo.page.link/?link=https%3A%2F%2Ffcbileo.page.link%2FFundETFBuy%3FFundCode%3D代碼&amp;apn=com.firstbank.mbanklite&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite</patch:attribute>
      </setting>
      <!--國外債卷-第e個網-->
      <setting name="WebBond">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://ibanktest.firstbank.com.tw/NetBank/6/03010101_redirect.html</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://ibank.firstbank.com.tw/NetBank/6/03010101_redirect.html</patch:attribute>
      </setting>
      <!--國外債卷申購-第e行動-->
      <setting name="MobileBond" value="https://fcblink.page.link/?link=https://fcblink.page.link/F20"/>
      <!--國外債卷申購-iLeo-->
      <setting name="IleoBond">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://fcbileodev.page.link/?link=https%3A%2F%2Ffcbileodev.page.link%2FFundFrnBond&amp;apn=com.firstbank.mbanklite.debug&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite.apnDEV</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://fcbileo.page.link/?link=https%3A%2F%2Ffcbileo.page.link%2FFundFrnBond&amp;apn=com.firstbank.mbanklite&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite</patch:attribute>
      </setting>
      <!--幣別iframe-->
      <setting name="CurrencyWebSite">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://mobiletest.firstbank.com.tw/c1/cheetah/zh/07/currency</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://mobile.firstbank.com.tw/c1/cheetah/zh/07/currency</patch:attribute>
      </setting>
      <!--關注清單api-->
      <setting name="FocusApiRoute">
        <patch:attribute name="value" environment:require="Staging">https://mbankTest.firstbank.com.tw:8443/fbp/MBankTxnLiteFTL.action</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://mbank.firstbank.com.tw:8443/fbp/MBankTxnLiteFTL.action</patch:attribute>
      </setting>
      <!--風險評估route 第e個網-->
      <setting name="WebKYC">
        <patch:attribute name="value" environment:require="Staging">https://ibanktest.firstbank.com.tw/NetBank/goKYC.html</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://ibank.firstbank.com.tw/NetBank/goKYC.html</patch:attribute>
      </setting>
      <!--風險評估route 第e行動-->
      <setting name="FirsteKYC">
        <patch:attribute name="value" environment:require="Staging or Production">https://fcblink.page.link/?link=https://fcblink.page.link/F14&amp;apn=com.willmobile.mobilebank.fcb&amp;isi=408289025&amp;ibi=com.firstbank.mbank</patch:attribute>
      </setting>
      <!--風險評估route iLeo-->
      <setting name="IleoKYC">
        <patch:attribute name="value" environment:require="Staging">https://fcbileodev.page.link/?link=https%3A%2F%2Ffcbileodev.page.link%2FFundKYC&amp;apn=com.firstbank.mbanklite.debug&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite.apnDEV</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://fcbileo.page.link/?link=https%3A%2F%2Ffcbileo.page.link%2FFundKYC&amp;apn=com.firstbank.mbanklite&amp;isi=1446229166&amp;ibi=com.firstbank.mbankForLite</patch:attribute>
      </setting>
      <!-- 頭條新聞、新聞列表、新聞詳細-Cache過期時間-->
      <setting name="NewsCacheTime" value="30m"/>
      <!-- 首頁焦點新聞-Cache過期時間-->
      <setting name="HomeHeadlinesTime" value="1m"/>
      <!-- 結構型商品列表、結構型商品詳細-Cache過期時間-->
      <setting name="StructuredProductCacheTime" value="30m"/>
      <!-- 首頁搜尋元件-Cache過期時間-->
      <setting name="SearchBarCacheTime" value="30m"/>
      <!-- 基金商品列表-Cache過期時間-->
      <setting name="FundSearchCacheTime" value="30m"/>
      <!-- Etf商品列表-Cache過期時間-->
      <setting name="EtfSearchCacheTime" value="30m"/>
      <!-- 國外股票商品列表-Cache過期時間-->
      <setting name="USStockSearchCacheTime" value="30m"/>
      <!-- 國外債券商品列表-Cache過期時間-->
      <setting name="BondSearchCacheTime" value="30m"/>
      <!-- 全站搜尋商品列表-Cache過期時間-->
      <setting name="SiteProductSearchCacheTime" value="30m"/>
      
      <setting name="IMVPApiRoute">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://ta-sfa01-ap.firstbank.com.tw:9444</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://pa-sfa01-ap:9444</patch:attribute>
      </setting>
      <setting name="IMVPApiAppId">
        <patch:attribute name="value" environment:require="Local or Development or Staging">WEA_APP</patch:attribute>
        <patch:attribute name="value" environment:require="Production">WEA_APP</patch:attribute>
      </setting>
      <setting name="IMVPApiAppKey">
        <patch:attribute name="value" environment:require="Local or Development or Staging">wea1234</patch:attribute>
        <patch:attribute name="value" environment:require="Production">wea20241001</patch:attribute>
      </setting>
      <setting name="IMVPSafeIP">
        <patch:attribute name="value" environment:require="Local or Development or Staging">10.26.203.5,10.10.101.124,10.14.88.77,127.0.0.1,192.168.6.103,10.26.203.9,10.26.203.10</patch:attribute>
        <patch:attribute name="value" environment:require="Production">10.20.3.59,10.20.3.60</patch:attribute>
      </setting>
      <setting name="OctonApiRoute">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://weamvp.firstbank-tt.com.tw:8443</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://weamvp.firstbank.com.tw:8443</patch:attribute>
      </setting>
      <setting name="OctonVideoApiRoute">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://10.26.203.16:8443</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://10.20.3.110:8443</patch:attribute>
      </setting>
      <setting name="OctonApiTenant">
        <patch:attribute name="value" environment:require="Local or Development or Staging">WEA072</patch:attribute>
        <patch:attribute name="value" environment:require="Production">WEA072</patch:attribute>
      </setting>
      <setting name="OctonApiSysCode">
        <patch:attribute name="value" environment:require="Local or Development or Staging">Octon</patch:attribute>
        <patch:attribute name="value" environment:require="Production">Octon</patch:attribute>
      </setting>
      <setting name="OctonApiDNISList">
        <patch:attribute name="value" environment:require="Local or Development or Staging">1003,1004,1005,1006,1007</patch:attribute>
        <patch:attribute name="value" environment:require="Production">1003,1004,1005,1006,1007</patch:attribute>
      </setting>
      <setting name="JwtIssuer">
        <patch:attribute name="value" environment:require="Local or Development or Staging">https://wealth.firstbank-tt.com.tw</patch:attribute>
        <patch:attribute name="value" environment:require="Production">https://wealth.firstbank.com.tw</patch:attribute>
      </setting>
      <setting name="JwtAudience">
        <patch:attribute name="value" environment:require="Local or Development or Staging">WEAExternalServices</patch:attribute>
        <patch:attribute name="value" environment:require="Production">WEAExternalServices</patch:attribute>
      </setting>
      <setting name="JwtSecretKey">
        <patch:attribute name="value" environment:require="Local or Development or Staging">3f9f3b5d-7c4e-4af9-9e6a-9b3dbe12c4f6</patch:attribute>
        <patch:attribute name="value" environment:require="Production">3f9f3b5d-7c4e-4af9-9e6a-9b3dbe12c4f6</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>