<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
      <setting name="ErrorHandling.Static.File.Path">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <setting name="RequestErrors.UseServerSideRedirect">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
    <sites>
      <!--
        產生預設錯誤畫面，請小心修改 error site
        排除預設 site，自訂的新 site 會在 publish 依照 name 建立在 /errorpages/{name}.html，僅支援 404/500
        會依照 root path 取得節點，並判斷是否有繼承 ErrorHandler template，若無則會取 ErrorHandlerItem={item id} 設定

        error site 為了長出預設錯誤處理頁，若有需要修改頁面，建議在正式環境額外補上 ErrorHandlerItem
        website site 未設定頁面, 正式環境額外補上 ErrorHandlerItem.
        CustomError=On 設定 defaultRedirect=/errorpages/404.html
        
      -->
      <site name="error"
            set:database="$(defaultContentDatabaseName)" set:content="$(defaultContentDatabaseName)"
            set:errorPageUrl="/errorPages/error.html"
            set:noAccessUrl="/errorPages/error.html"
            set:layoutNotFoundUrl="/errorPages/error.html"
            set:itemNotFoundUrl="/errorPages/error.html"
            set:linkItemNotFoundUrl="/errorPages/error.html"
            set:noPublishableUrl="/errorPages/error.html"
            set:noLicenseUrl="/errorPages/error.html" />
      <site name="website" role:require="ContentDelivery"
            set:errorPageUrl="/errorPages/500.aspx"
            set:noAccessUrl="/errorPages/404.html"
            set:layoutNotFoundUrl="/errorPages/404.html"
            set:itemNotFoundUrl="/errorPages/404.html"
            set:linkItemNotFoundUrl="/errorPages/404.html"
            set:noPublishableUrl="/errorPages/404.html"
            set:noLicenseUrl="/errorPages/404.html" />
    </sites>
    <pipelines>
      <httpRequestBegin>
        <processor type="Xcms.Sitecore.Feature.ErrorHandling.Pipelines.HttpRequestBegin.ItemNotFoundResolver, Xcms.Sitecore.Feature.ErrorHandling"
                   patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                   resolve="true" />
        <processor type="Xcms.Sitecore.Feature.ErrorHandling.Pipelines.HttpRequestBegin.LayoutNotFoundResolver, Xcms.Sitecore.Feature.ErrorHandling"
                   patch:after="*[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"
                   resolve="true" />
      </httpRequestBegin>
      <httpRequestProcessed>
        <processor type="Xcms.Sitecore.Feature.ErrorHandling.Pipelines.HtpRequestProcessed.SetStatusCode, Xcms.Sitecore.Feature.ErrorHandling"
                   patch:after="*[@type='Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics,Sitecore.Analytics']"
                   resolve="true" />
        <processor type="Xcms.Sitecore.Feature.ErrorHandling.Pipelines.HtpRequestProcessed.HandleServerErrorCode, Xcms.Sitecore.Feature.ErrorHandling"
                   patch:after="*[@type='Xcms.Sitecore.Feature.ErrorHandling.Pipelines.HtpRequestProcessed.SetStatusCode, Xcms.Sitecore.Feature.ErrorHandling']"
                   resolve="true" />
      </httpRequestProcessed>

      <httpRequestEnd>
        <processor type="Xcms.Sitecore.Feature.ErrorHandling.Pipelines.httpRequestEnd.SetStatusCode, Xcms.Sitecore.Feature.ErrorHandling"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.EndDiagnostics, Sitecore.Kernel']">
        </processor>
      </httpRequestEnd>
      <mvc.getPageItem>
        <processor type="Xcms.Sitecore.Feature.ErrorHandling.Pipelines.GetPageItem.GetErrorPageContextItem, Xcms.Sitecore.Feature.ErrorHandling"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromRouteUrl, Sitecore.Mvc']"
                   resolve="true" />
      </mvc.getPageItem>
    </pipelines>
    <events>
      <event name="publish:end:remote">
        <handler type="Xcms.Sitecore.Feature.ErrorHandling.StaticErrorPageRenderer, Xcms.Sitecore.Feature.ErrorHandling"
                 patch:after="*[@type='Sitecore.Publishing.SmartHtmlCacheClearer, Sitecore.Kernel']"
                 method="GenerateStaticErrorPage"
                 resolve="true" />
      </event>
    </events>
  </sitecore>
</configuration>