<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore>
    <pipelines>
      <mvc.renderPlaceholder>
        <!-- 某些特殊寫法情況會造成顯示跑版 -->
        <!--<processor type="Xcms.Sitecore.Foundation.Basic.Pipelines.PlaceholderMarker, Xcms.Sitecore.Foundation.Basic" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.PerformRendering, Sitecore.Mvc']" resolve="true" />-->
      </mvc.renderPlaceholder>
      <mvc.renderRendering>
        <processor type="Xcms.Sitecore.Foundation.Basic.Pipelines.RenderingMarker, Xcms.Sitecore.Foundation.Basic" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" resolve="true" />
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>