<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore>
    <pipelines>
      <!-- 擴充 UrlBuilder 設定

            type:         The class to run
            method:       The method name to run. If not included, you use the name “Process”
            name:         Just a descriptive name
            runIfAborted: Processors with this attribute set to true will run even if the pipeline is aborted. This is useful as a cleanup property if something went wrong.
            resolve:      Set this property to true to allow the Sitecore Dependency Injection engine to resolve the type name to run.
            reusable:     This property allows your processor to be run in a transient scope.

            processItemLinkRules:   處理 ItemUrlBuilderOptions
            processItemLinkResult:  處理 ItemUrl 輸出結果
            processMediaLinkRules:  處理 MediaUrlBuilderOptions
            processMediaLinkResult: 處理 MediaUrl 輸出結果

            範例: <processor type="{namespace.class name, Assembly name}" />
            程式繼承介面: IProcessUrlBuilder.cs
      -->
      <processItemLinkRules />
      <processItemLinkResult />
      <processMediaLinkRules />
      <processMediaLinkResult />
    </pipelines>
    <links>
      <itemUrlBuilder type="Sitecore.Links.UrlBuilders.ItemUrlBuilder, Sitecore.Kernel" set:type="Xcms.Sitecore.Foundation.UrlBuilder.ItemUrlBuilder, Xcms.Sitecore.Foundation.UrlBuilder">
        <!-- 擴充 ItemUrlBuilderOptions 預設值多設定方式
              範例: 參考 links/itemUrlBuilder/param
              <site key="{site name}" ref="links/itemUrlBuilder/param[@desc='defaultOptions']" type="Sitecore.Links.UrlBuilders.DefaultItemUrlBuilderOptions, Sitecore.Kernel">
                {要修改的 option}
              </site>
        -->
        <options hint="list:AddItemUrlBuilderOptions"></options>
      </itemUrlBuilder>
      <mediaUrlBuilder type="Sitecore.Links.UrlBuilders.MediaUrlBuilder, Sitecore.Kernel" set:type="Xcms.Sitecore.Foundation.UrlBuilder.MediaUrlBuilder, Xcms.Sitecore.Foundation.UrlBuilder">
        <!-- 擴充 MediaUrlBuilderOptions 預設值多設定方式
              範例: 參考 links/itemUrlBuilder/param
              <site key="{site name}" ref="links/mediaUrlBuilder/param[@desc='defaultOptions']" type="Sitecore.Links.UrlBuilders.DefaultItemUrlBuilderOptions, Sitecore.Kernel">
                {要修改的 option}
              <site>
        -->
        <options hint="list:AddMediaUrlBuilderOptions"></options>
      </mediaUrlBuilder>
    </links>
  </sitecore>
</configuration>