@using Feature.Wealth.Component.Models.Link
@model LinkModel

@if (Model == null)
{
    return;
}

<section class="c-section">
    <div class="l-wrap">
        <section class="c-section">
            <div class="c-section__title">@Html.Sitecore().Field(Templates.LinkTitle.Fields.MainTitle.ToString(), Model.DataSource)</div>
            <div class="c-section__content">
                <div class="l-linkBox">
                    @foreach (var item in Model.Items)
                    {
                        if (!string.IsNullOrEmpty(item.Title) || !string.IsNullOrEmpty(item.LinkUrl))
                        {
                            <div class="l-linkBox__item">
                                <div class="c-box c-box--link u-shadow-animation">
                                    @Html.Sitecore().BeginField(Templates.Link.Fields.Link.ToString(), item.Item, new { haschildren = true, @class = item.icon})
                                    @Html.Sitecore().Field(Templates.Link.Fields.Title.ToString(), item.Item)
                                    @Html.Sitecore().EndField()
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </section>
    </div>
</section>