@using Feature.Wealth.Component.Models.FileDownload
@model FileDownloadModel

@if (Model == null)
{
    return;
}

<section class="c-section" data-aos="fade-up" data-aos-once="true">
    <div class="l-wrap">
        <div class="c-section__desc">@Html.Sitecore().Field(Templates.FileDescription.Fields.Title.ToString(), Model.DataSource)</div>
        <div class="c-section__content">
            <div class="l-linkBox">
                @foreach (var item in Model.Items)
                {
                    <div class="l-linkBox__item">
                        <div class="c-box c-box--link u-shadow-animation">
                            <a href="@item.LinkUrl" class="o-prefixLink o-prefixLink--insidebox o-prefixLink--pdf t-bold" target="@item.LinkTarget"><span>@Html.Sitecore().Field(Templates.FileDownload.Fields.LinkText.ToString(), item.Item)</span></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>