@using Foundation.Wealth.Helper
@using Feature.Wealth.Component.Models.Consult
@model MaintainModel

<div class="c-section">
    <div class="c-section__content">
        <div class="l-flex u-flex-col u-flex-gap-xs">
            <div class="l-flex__item">
                <div class="c-empty">
                    <div class="c-empty__img">
                        <img src="~/themes/images/lions/lion-construction.svg" alt="">
                    </div>
                    <div class="c-empty__desc">
                        @Model.Info
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
