@using Foundation.Wealth.Helper
@using Feature.Wealth.Component.Models.Consult
@model ConsultListModel

@if (Model == null)
{
    @* 第三方登入隱藏tab *@
    <div class="c-section" data-consultlist></div>
    <script>
        let panelId_consultlist = $('[data-consultlist]').parent().attr('data-tab-panel-id');
        $('.c-tab__navs').find('[data-tab-target=' + panelId_consultlist + ']').parent().remove();
        $('.c-tab__dropdown').find('[data-tab-target=' + panelId_consultlist + ']').remove();
    </script>

    return;
}

@Html.Sitecore().Placeholder("NoEmployeeConsultList")
