<div class="c-sidebar__navs">
    <a href="#" class="c-sideBtn c-sideBtn--round">
        <i class="c-sideBtn__icon c-sideBtn__icon--service"></i>
        <span>第e客服</span>
    </a>
    <a href="#" class="c-sideBtn c-sideBtn--group c-sideBtn--first" data-sidebar="common">
        <i class="c-sideBtn__icon c-sideBtn__icon--common"></i>
        <span>常用工具</span>
    </a>
    <a href="#" class="c-sideBtn c-sideBtn--group c-sideBtn--last" data-sidebar="compare">
        <i class="c-sideBtn__icon c-sideBtn__icon--compare">
            <span class="c-sideBtn__badge">2</span>
        </i>
        <span>比較工具</span>
    </a>
</div>
<div class="c-sidebar__panel">
    <a href="#" class="c-sidebar__close" data-sidebar-close></a>
    <div class="c-sidebar__content" data-sidebar-id="common">
        <div class="c-sidebox">
            <header class="c-sidebox__header">常用功能</header>
            <div class="c-sidebox__panel">
                <div class="c-sidebox__content">
                    <ul class="c-listGroup c-listGroup--box">
                        <li class="c-listGroup__item">
                            <a href="#" class="o-itemLink o-itemLink--sm">
                                <span class="o-itemLink__title t-bold">基金搜尋</span>
                                <img src="./themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                            </a>
                        </li>
                        <li class="c-listGroup__item">
                            <a href="#" class="o-itemLink o-itemLink--sm">
                                <span class="o-itemLink__title t-bold">熱銷基金</span>
                                <img src="./themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                            </a>
                        </li>
                        <li class="c-listGroup__item">
                            <a href="#" class="o-itemLink o-itemLink--sm">
                                <span class="o-itemLink__title t-bold">績效排行</span>
                                <img src="./themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                            </a>
                        </li>
                        <li class="c-listGroup__item">
                            <a href="#" class="o-itemLink o-itemLink--sm">
                                <span class="o-itemLink__title t-bold">投資週/月報</span>
                                <img src="./themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                            </a>
                        </li>
                        <li class="c-listGroup__item">
                            <a href="#" class="o-itemLink o-itemLink--sm">
                                <span class="o-itemLink__title t-bold">國外股票搜尋</span>
                                <img src="./themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                            </a>
                        </li>
                        <li class="c-listGroup__item">
                            <a href="#" class="o-itemLink o-itemLink--sm">
                                <span class="o-itemLink__title t-bold">ETF搜尋</span>
                                <img src="./themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                            </a>
                        </li>
                        <li class="c-listGroup__item">
                            <a href="#" class="o-itemLink o-itemLink--sm">
                                <span class="o-itemLink__title t-bold">優惠活動</span>
                                <img src="./themes/images/icons/green/corner-right.svg" class="o-itemLink__icon" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <footer class="c-sidebox__footer">
                <!-- 不論內容多高，置底的工具連結，放此處 -->
                <div class="c-sidebox__tools">
                    <a href="#" class="o-prefixLink o-prefixLink--gear">編輯常用功能</a>
                </div>
                <div class="c-sideDialog">
                    <div class="c-sideDialog__msg">
                        <span class="t-bold">7/7</span>
                        <span class="t-tip">常用功能到上限嚕！</span>
                    </div>
                    <img src="./themes/images/lions/lion01.svg" class="c-sideDialog__img" alt="">
                </div>
            </footer>
        </div>
    </div>
    <div class="c-sidebar__content" data-sidebar-id="compare">
        <div class="c-sidebox">
            <header class="c-sidebox__header">比較工具</header>
            <div class="c-sidebox__panel">
                <div class="c-sidebox__content">
                    <ul class="c-listGroup c-listGroup--box">
                        <li class="c-listGroup__item">
                            <div class="o-itemLink o-itemLink--sm">
                                <a href="#" class="o-itemLink__title t-bold">TA25 安聯收益成長-AM穩定月收類股(美元)</a>
                                <a href="#" class="o-itemLink__icon o-itemLink__icon--x"></a>
                            </div>
                        </li>
                        <li class="c-listGroup__item">
                            <div class="o-itemLink o-itemLink--sm">
                                <a href="#" class="o-itemLink__title t-bold">EK02 VANGUARD總體國際債券ETF</a>
                                <a href="#" class="o-itemLink__icon o-itemLink__icon--x"></a>
                            </div>
                        </li>
                        <li class="c-listGroup__item">
                            <div class="o-itemLink o-itemLink--sm">
                                <a href="#" class="o-itemLink__title t-bold">78AE 日盛新台商證券投資信託基金</a>
                                <a href="#" class="o-itemLink__icon o-itemLink__icon--x"></a>
                            </div>
                        </li>
                        <li class="c-listGroup__item">
                            <div class="o-itemLink o-itemLink--sm">
                                <a href="#" class="o-itemLink__title t-bold">TA25 安聯收益成長-AM穩定月收類股(美元)</a>
                                <a href="#" class="o-itemLink__icon o-itemLink__icon--x"></a>
                            </div>
                        </li>
                        <li class="c-listGroup__item">
                            <div class="o-itemLink o-itemLink--sm">
                                <a href="#" class="o-itemLink__title t-bold">EK02 VANGUARD總體國際債券ETF</a>
                                <a href="#" class="o-itemLink__icon o-itemLink__icon--x"></a>
                            </div>
                        </li>
                        <li class="c-listGroup__item">
                            <div class="o-itemLink o-itemLink--sm">
                                <a href="#" class="o-itemLink__title t-bold">78AE 日盛新台商證券投資信託基金</a>
                                <a href="#" class="o-itemLink__icon o-itemLink__icon--x"></a>
                            </div>
                        </li>
                        <li class="c-listGroup__item">
                            <div class="o-itemLink o-itemLink--sm">
                                <a href="#" class="o-itemLink__title t-bold">TA25 安聯收益成長-AM穩定月收類股(美元)</a>
                                <a href="#" class="o-itemLink__icon o-itemLink__icon--x"></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="c-sidebox__actions">
                    <a href="./fund/fundETFcompare.html" class="o-btn o-btn--primary o-btn--sm o-btn--flat">開始比較</a>
                </div>
            </div>
            <footer class="c-sidebox__footer">
                <div class="c-sideDialog">
                    <div class="c-sideDialog__msg">
                        <span class="t-bold">7/7</span>
                        <span class="t-tip">標的到上限嚕！</span>
                    </div>
                    <img src="./themes/images/lions/lion01.svg" class="c-sideDialog__img" alt="">
                </div>
            </footer>
        </div>
    </div>
</div>