@using Feature.Wealth.Component.Models.Navigation;
@using Xcms.Sitecore.Foundation.Basic.SitecoreExtensions;

@{
    Layout = "~/Views/Project/Wealth/Layouts/__SharedLayout.cshtml";
}

@section Head {

}

<!-- .l-navbar--gn: 綠色底色 (預設為無底色) -->
<div class="l-navbar u-hidden-embed @(ItemUtils.IsChecked(RenderingContext.CurrentOrNull?.ContextItem, Templates.Navigable.Fields.Background) ? "l-navbar--gn" : "")">
    <div class="l-navbar__wrap">
        @Html.Sitecore().Placeholder("breadcrumb")
    </div>
</div>

@Html.Sitecore().Placeholder("main")

@section Bottom {
    @{
        Html.RenderPartial("~/Views/Project/Wealth/Partial/Popup.cshtml");
    }
}
@section Scripts {
    @{
        Html.RenderPartial("~/Views/Project/Wealth/Partial/Scripts.cshtml");
    }
}