@{
    Layout = "~/Views/Project/Wealth/Layouts/__SharedLayout.cshtml";
}

@section Head {
    @{
    }
}


<main class="l-main">
    @Html.Sitecore().Placeholder("main")
</main>

@section Bottom {
    @{
    }
}