@{
    Layout = "~/Views/Project/Wealth/Layouts/__SharedLayout.cshtml";
}

@section Head {

}


<!-- .l-navbar--gn: 綠色底色 (預設為無底色) -->
<div class="l-navbar l-navbar--gn">
    <div class="l-navbar__wrap">
        @Html.Sitecore().Placeholder("breadcrumb")
    </div>
</div>

@Html.Sitecore().Placeholder("main")

@section Bottom {

}