@charset "UTF-8";
/* ===== Color theme—Bright ===== */
/*
 * ===== Project color definitions =====
 * All places where color is specified in the project
 */
:root {
  --layout: desktop;
  --color-rise: #F00;
  --color-fall: #2E9E40;
}
@media only screen and (max-width: 1199px) {
  :root {
    --layout: tablet;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --layout: mobile;
  }
}

html,
body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
html.is-globalization,
body.is-globalization {
  --color-rise: #2E9E40;
  --color-fall: #F00;
}
@media only screen and (min-width: 1200px) {
  html.is-sidebarOpen,
  body.is-sidebarOpen {
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  html.is-filterOpen,
  body.is-filterOpen {
    overflow: hidden;
  }
}

.l-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
}
.l-container:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media only screen and (min-width: 1200px) {
  .l-container {
    padding-top: 72px;
  }
  .is-embed .l-container {
    padding-top: 0;
  }
  .is-menuDesktopOpen .l-container:before, .is-sidebarOpen .l-container:before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
@media only screen and (max-width: 1199px) {
  .l-container {
    padding-top: 52px;
  }
  .is-embed .l-container {
    padding-top: 0;
  }
  .is-menuMobileOpen .l-container, .is-menuMobileOpen.is-sidebarOpen .l-container {
    max-height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
  }
  .is-menuMobileOpen.is-sidebarOpen .l-container:before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.l-wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 1199px) {
  .l-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .l-wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* ==========================================================================
   Header
   ========================================================================== */
@media only screen and (min-width: 1200px) {
  .is-menuDesktopOpen .l-container:before {
    z-index: 2002;
  }
  .is-menuDesktopOpen .l-header {
    z-index: 2005;
  }
}
.l-header {
  position: fixed;
  top: 0;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.is-headerFadeout .l-header {
  transform: translateY(-100%);
}
@media only screen and (min-width: 1200px) {
  .l-header {
    z-index: 11;
    height: 72px;
  }
  .l-header__burger {
    display: none;
  }
  .l-header__logo {
    flex: 1 1 auto;
    margin-left: 28px;
  }
}
@media only screen and (max-width: 1199px) {
  .l-header {
    z-index: 10;
    height: 52px;
  }
  .l-header__menu {
    position: fixed;
    left: 0;
    top: 52px;
    display: block;
    width: 100%;
    height: calc(100vh - 52px - 91px);
    height: calc(var(--vh, 1vh) * 100 - 52px - 91px);
    background-color: #fff;
    box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.1);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .is-menuMobileOpen .l-header__menu {
    transform: translateX(0);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .l-header__logo {
    flex: 1 1 100%;
    text-align: center;
  }
  .l-header__burger {
    position: absolute;
    left: 0;
  }
  .l-header__tools {
    position: absolute;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .l-header__logo {
    flex: 1 1 auto;
    margin-left: 40px;
  }
}

.o-burger {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  padding: 14px;
  background-color: #238C6C;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.o-burger:before, .o-burger:after,
.o-burger span {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  box-sizing: border-box;
  height: 2px;
  width: 24px;
  margin: 14px;
  background: #fff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.o-burger:before {
  top: 1px;
}
.o-burger:after {
  top: 21px;
}
.o-burger span {
  top: 11px;
}
.o-burger.is-open:before, .o-burger.is-open:after {
  top: 11px;
  width: 0%;
  left: calc(50% - 14px);
}
.o-burger.is-open span:first-of-type {
  transform: rotate(45deg);
}
.o-burger.is-open span:last-of-type {
  transform: rotate(-45deg);
}

.o-ci {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.o-ci__site {
  margin-left: 1rem;
  font-size: 20px;
  font-weight: bold;
  color: #A4844E;
  text-decoration: none;
  white-space: nowrap;
}
@media only screen and (max-width: 1199px) {
  .o-ci__logo {
    width: 88px;
  }
  .o-ci__site {
    margin-left: 12px;
    font-size: 14px;
  }
}

.c-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.c-menu__name {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  text-decoration: none;
}
.c-menu__name--external:after {
  content: "";
  display: inline-block;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background: url(../images/layout/icons/outside.svg) no-repeat center center;
}
.c-menu__name--highlight {
  color: var(--Primary-Primary, #238C6C);
}
.c-menu__login {
  margin: 24px 0;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .c-menu--lv2 {
    position: absolute;
    left: var(--left);
    top: var(--top);
    display: flex;
    visibility: hidden;
    opacity: 0;
  }
  .c-menu--lv2.is-show {
    display: block;
  }
  .c-menu--lv3 {
    margin-top: 24px;
  }
  .c-menu__wrap--lv2 {
    display: flex;
    flex-direction: row;
    max-width: calc(100vw - 32px - var(--scrollbar-width, 0px));
    margin: 0 16px;
    border-radius: 0 0 12px 12px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  }
  .c-menu__list--lv1 {
    flex-direction: row;
  }
  .c-menu__list--lv2 {
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    max-width: 100vw;
    min-height: 400px;
    max-height: calc(100vh - 100px);
    padding: 48px 30px;
    border-radius: 0 0 12px 12px;
    overflow: auto;
  }
  .c-menu__item--lv1 {
    position: relative;
  }
  .c-menu__item--lv1:hover > .c-menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .c-menu__item--lv1:hover > .c-menu__name {
    border-bottom-color: #238C6C;
  }
  .c-menu__item--lv2 {
    flex: 0 1 auto;
    width: 162px;
    margin: 0 24px;
  }
  .c-menu__item--lv3 + .c-menu__item {
    margin-top: 16px;
  }
  .c-menu__name--lv1 {
    box-sizing: border-box;
    padding: 22px 15px 18px;
    font-weight: bold;
    white-space: nowrap;
    border-bottom: 4px solid transparent;
  }
  .c-menu__name--lv2 {
    display: flex;
    box-sizing: border-box;
    min-width: 4em;
    padding-bottom: 4px;
    font-weight: bold;
    border-bottom: 1px solid #238C6C;
    pointer-events: none;
  }
  .c-menu__name--lv3 {
    transition: color 0.3s ease;
  }
  .c-menu__name--lv3:hover {
    color: #238C6C;
  }
  .c-menu__banner {
    flex: 0 0 300px;
    width: 300px;
    background-color: #6E6E6E;
  }
  .c-menu__banner:last-of-type {
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .c-menu__login {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .c-menu--lv2 {
    box-sizing: border-box;
    max-height: 0;
    background-color: #F6F6F6;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .c-menu__list--lv3 {
    margin-bottom: 12px;
  }
  .c-menu__item--lv1.is-open > .c-menu__name {
    font-weight: bold;
    color: #238C6C;
  }
  .c-menu__item--lv1.is-open > .c-menu__name:before {
    background-image: url(../images/layout/icons/minus.svg);
  }
  .c-menu__item--lv1.is-open > .c-menu--lv2 {
    max-height: none;
    max-height: var(--height);
  }
  .c-menu__name {
    position: relative;
  }
  .c-menu__name--lv1 {
    font-size: 20px;
    padding: 16px 66px 16px 32px;
    border-bottom: 1px solid #EBEBEB;
  }
  .c-menu__name--lv1:before {
    content: "";
    position: absolute;
    right: 32px;
    display: inline-block;
    flex: 0 0 24px;
    order: 1;
    width: 24px;
    height: 24px;
    background: url(../images/layout/icons/plus.svg) no-repeat center center;
  }
  .c-menu__name--lv2 {
    padding: 12px 32px;
    font-weight: bold;
    pointer-events: none;
  }
  .c-menu__name--lv3 {
    padding: 12px 58px 12px 40px;
  }
  .c-menu__name--lv3:before {
    content: "";
    position: absolute;
    right: 32px;
    display: inline-block;
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    background: url(../images/icons/green/corner-right.svg) no-repeat center center;
  }
  .c-menu__banner {
    display: none;
  }
}

.l-topbar {
  display: flex;
  align-items: center;
}
.l-topbar__list {
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.l-topbar__list:last-of-type {
  margin: 0 16px;
}
@media only screen and (max-width: 1199px) {
  .l-topbar {
    margin: 0 12px;
  }
}
@media only screen and (max-width: 767px) {
  .l-topbar {
    margin: 0 8px;
  }
}

.o-topBtn {
  display: inline-flex;
  padding: 14px 8px;
  vertical-align: middle;
}
.o-topBtn:before {
  content: "";
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
  transition: background-image 0.3s ease;
}
.o-topBtn span {
  display: none;
}
.o-topBtn--notify:before {
  background-image: url(../images/layout/icons/bell.svg);
}
.o-topBtn--notify:hover:before {
  background-image: url(../images/layout/icons/bell-hover.svg);
}
.o-topBtn--login:before {
  background-image: url(../images/layout/icons/person-gn.svg);
}
.o-topBtn.is-notify {
  position: relative;
}
.o-topBtn.is-notify:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 8px;
  display: inline-block;
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #F58220;
}
@media only screen and (min-width: 1200px) {
  .o-topBtn {
    padding: 24px 8px;
  }
  .o-topBtn--login {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 72px;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #F58220;
    transition: background-color 0.3s ease;
  }
  .o-topBtn--login:before {
    background-image: url(../images/layout/icons/person-wt.svg);
  }
  .o-topBtn--login > span {
    display: block;
    margin-top: 4px;
  }
  .o-topBtn--login:hover {
    background-color: #FFA031;
  }
  .o-topBtn.is-notify:after {
    top: 24px;
  }
}

.c-loginModal {
  display: flex;
}
.c-loginModal__item {
  flex: 1 1 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .c-loginModal {
    flex-direction: column;
  }
}

.c-loginBox {
  margin: 60px 50px;
  text-align: center;
}
.c-loginBox__title {
  margin-bottom: 1em;
  font-size: 24px;
  font-weight: bold;
}
.c-loginBox__greeting {
  margin: 12px 0;
}
.c-loginBox__actions {
  margin-top: 12px;
}
.c-loginBox__main + .c-loginBox__social {
  margin-top: 52px;
}
@media only screen and (max-width: 767px) {
  .c-loginBox {
    margin: 32px 40px;
  }
  .c-loginBox__title {
    margin-bottom: 20px;
  }
  .c-loginBox__main + .c-loginBox__social {
    margin-top: 32px;
  }
}

.c-socialBox__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #9C9C9C;
  white-space: nowrap;
}
.c-socialBox__title:before, .c-socialBox__title:after {
  content: "";
  display: inline-block;
  flex: 1 1 50%;
  width: 50%;
  height: 1px;
  background-color: #EBEBEB;
}
.c-socialBox__title:before {
  margin-right: 12px;
}
.c-socialBox__title:after {
  margin-left: 12px;
}
.c-socialBox__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.c-socialBox__item {
  flex: 1 1 auto;
  width: 50%;
}
.c-socialBox__title + .c-socialBox__list {
  margin-top: 24px;
}

.c-registerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  text-align: center;
  background-color: #F6FCF3;
}
.c-registerBox__img + .c-registerBox__content {
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .c-registerBox__wrap {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .c-registerBox__img {
    width: 110px;
  }
  .c-registerBox span {
    display: block;
  }
  .c-registerBox__img + .c-registerBox__content {
    margin-top: 0;
    margin-left: 12px;
  }
}

/* ==========================================================================
   Main
   ========================================================================== */
.l-main {
  flex: 1 1 auto;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
@media only screen and (min-width: 1200px) {
  .is-sidebarOpen .l-container:before {
    z-index: 15;
  }
  .is-sidebarOpen .c-sidebar {
    z-index: 20;
  }
}
@media only screen and (max-width: 1199px) {
  .is-sidebarOpen .l-container:before {
    z-index: 15;
  }
  .is-sidebarOpen .c-sidebar {
    z-index: 20;
  }
}
.c-sidebar {
  z-index: 10;
}
.c-sidebar__close {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../images/icons/white/x-lg.svg) rgba(34, 34, 34, 0.6) no-repeat center center;
  border-radius: 50%;
}
@media only screen and (min-width: 1200px) {
  .c-sidebar {
    position: fixed;
    top: 0;
    right: 0;
  }
  .c-sidebar__wrap {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
  }
  .c-sidebar__navs {
    position: absolute;
    bottom: calc(50% - 94px);
    left: -16px;
    transform: translate(-100%, 50%);
  }
  .c-sidebar__panel {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 0;
    transition: width 0.3s ease;
  }
  .c-sidebar__close {
    position: absolute;
    top: 10px;
    left: 0;
    transform: translateX(0);
    transition: all 0.3s ease;
  }
  .c-sidebar__content {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    width: 320px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin-right: -320px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .c-sidebar__content.is-active {
    z-index: 2;
    transform: translateX(0);
  }
  .is-sidebarOpen .c-sidebar__panel {
    width: 320px;
  }
  .is-sidebarOpen .c-sidebar__close {
    left: -12px;
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 1199px) {
  .c-sidebar {
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .c-sidebar__navs {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 91px;
    background-color: #F6FCF3;
    box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.1);
  }
  .c-sidebar__close {
    position: absolute;
    top: 0;
    right: 12px;
    transform: translateY(0);
    transition: all 0.3s ease;
  }
  .c-sidebar__panel {
    position: relative;
    height: 0;
    transition: height 0.3s ease;
  }
  .c-sidebar__content {
    height: calc(100vh - 94px);
    height: calc(var(--vh, 1vh) * 100 - 94px);
    margin-bottom: calc(-100vh + 94px);
    margin-bottom: calc(var(--vh, 1vh) * -100 + 94px);
    visibility: hidden;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  .c-sidebar__content.is-active {
    transform: none;
    visibility: visible;
  }
  .is-menuMobileOpen .c-sidebar {
    transform: translateX(0);
  }
  .is-sidebarOpen .c-sidebar__panel {
    height: calc(100vh - 94px);
    height: calc(var(--vh, 1vh) * 100 - 94px);
  }
  .is-sidebarOpen .c-sidebar__close {
    top: -12px;
    transform: translateY(-100%);
  }
}

.c-sidebox {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}
.c-sidebox__header {
  flex: 0 0 auto;
  padding: 12px 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #238C6C;
}
.c-sidebox__panel {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #fff;
  overflow: hidden;
}
.c-sidebox__panel--vac {
  justify-content: center;
}
.c-sidebox__content {
  flex: 0 1 auto;
  margin: 20px 0;
  padding: 0 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.c-sidebox__actions {
  margin-top: 16px;
  flex: 1 1 auto;
  text-align: center;
}
.c-sidebox__content + .c-sidebox__actions {
  margin-top: 0;
}
.c-sidebox__footer {
  flex: 0 0 auto;
  padding-top: 12px;
  background-color: #fff;
}
.c-sidebox__tools {
  text-align: center;
}
@media only screen and (max-width: 1199px) {
  .c-sidebox__header {
    border-radius: 12px 12px 0 0;
  }
}

.c-sideTool {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  text-decoration: none;
  background-color: #1C795D;
  border-radius: 50%;
  overflow: hidden;
  display: none;
}
.c-sideTool > span {
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.c-sideTool__icon {
  width: 58px;
  height: 50px;
  order: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.c-sideTool__icon--service {
  background-image: url(../images/layout/icons/sidebar/service.svg);
}
@media only screen and (max-width: 1199px) {
  .c-sideTool {
    width: 80px;
    height: 60px;
    background-color: transparent;
  }
  .c-sideTool > span {
    margin-top: 4px;
    font-size: 15px;
    color: #222;
  }
  .c-sideTool__icon {
    width: 28px;
    height: 28px;
    margin: 0 auto;
    order: 0;
    background-image: url(../images/layout/icons/sidebar/service-mb.svg);
  }
}

.c-sideBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 64px;
  padding: 12px 4px;
  font-weight: bold;
  text-decoration: none;
}
.c-sideBtn__icon {
  position: relative;
  display: flex;
  width: 28px;
  height: 28px;
  order: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.c-sideBtn__icon--common {
  background-image: url(../images/layout/icons/sidebar/common-gn.svg);
}
.c-sideBtn__icon--compare {
  background-image: url(../images/layout/icons/sidebar/compare-gn.svg);
}
.c-sideBtn__icon--service {
  background-image: url(../images/layout/icons/sidebar/service.svg);
}
.c-sideBtn__badge {
  position: absolute;
  top: -9px;
  right: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  background-color: #F58220;
  border-radius: 50%;
}
.c-sideBtn > span {
  display: block;
  margin-top: 4px;
  order: 1;
}
@media only screen and (min-width: 1200px) {
  .c-sideBtn {
    font-size: 12px;
    border: 1px solid #B6DDBE;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  .c-sideBtn__icon--service {
    width: 58px;
    height: 42px;
    margin-bottom: -8px;
  }
  .c-sideBtn--round {
    flex-direction: column-reverse;
    height: 64px;
    padding: 0;
    color: #fff;
    background-color: #1C795D;
    border-width: 0;
    border-radius: 50%;
    overflow: hidden;
  }
  .c-sideBtn--round > span {
    margin-top: 0;
  }
  .c-sideBtn--group + .c-sideBtn--group:not(.c-sideBtn--first) {
    margin-top: -1px;
  }
  .c-sideBtn--first {
    margin-top: 4px;
    padding-top: 20px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
  }
  .c-sideBtn--last {
    padding-bottom: 20px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }
  .c-sideBtn.is-active {
    color: #fff;
    background-color: #238C6C;
  }
  .c-sideBtn.is-active .c-sideBtn__icon--common {
    background-image: url(../images/layout/icons/sidebar/common-wt.svg);
  }
  .c-sideBtn.is-active .c-sideBtn__icon--compare {
    background-image: url(../images/layout/icons/sidebar/compare-wt.svg);
  }
  .c-sideBtn:not(.is-active, .c-sideBtn--round):hover {
    background-color: var(--Secondary-Green-Hover2, #EAF7EC);
  }
}
@media only screen and (max-width: 1199px) {
  .c-sideBtn {
    width: auto;
    font-size: 15px;
  }
  .c-sideBtn__icon--service {
    width: 32px;
    height: 32px;
    background-image: url(../images/layout/icons/sidebar/service-mb.svg);
  }
}

.c-sideDialog {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 156px;
}
.c-sideDialog__msg {
  box-sizing: border-box;
  width: 244px;
  min-height: 72px;
  margin: 0 66px 84px 0;
  padding: 16px 16px 28px;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/layout/sidebar/dialog.svg) no-repeat center center;
}
.c-sideDialog__msg span + span {
  margin-left: 4px;
}
.c-sideDialog__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.c-sideDialog:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 311px;
  height: 63px;
  background: url(../images/layout/sidebar/rectangle.svg) no-repeat center center;
}
.c-sideDialog:after {
  content: "";
  position: absolute;
  right: 263px;
  bottom: 30px;
  display: block;
  width: 38px;
  height: 38px;
  background-color: #7DD3A4;
  border-radius: 50%;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.l-footer {
  flex: 0 0 auto;
  margin-top: 100px;
}
.l-footer__service {
  background-color: #A4844E;
  color: #fff;
}
.l-footer__content {
  padding: 24px 0;
  color: #fff;
  background-color: #1C795D;
}
.l-footer a[href^="tel:"] {
  color: #fff;
  text-decoration: none;
}

.c-footer__main {
  display: flex;
  flex-wrap: nowrap;
}
.c-footer__info {
  padding-right: 100px;
}
.c-footer__info address {
  font-style: normal;
}
.c-footer__links {
  padding-left: 100px;
  border-style: solid;
  border-color: rgba(203, 255, 244, 0.3);
  border-width: 0 0 0 1px;
}
.c-footer__copyright {
  margin-top: 24px;
  font-size: 14px;
  border: 0 solid rgba(203, 255, 244, 0.3);
}
@media only screen and (max-width: 1199px) {
  .c-footer__main {
    display: block;
  }
  .c-footer__info {
    padding-right: 0;
    padding-bottom: 24px;
  }
  .c-footer__links {
    padding-top: 24px;
    padding-left: 0;
    border-width: 1px 0 0;
  }
  .c-footer__copyright {
    padding-top: 24px;
    border-width: 1px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .c-footer a[href^="tel:"] {
    text-decoration: underline;
  }
}

.o-service {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 20px;
}
.o-service__title {
  display: flex;
  align-items: center;
  margin: 0 6px;
  font-weight: bold;
}
.o-service__title:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url(../images/layout/icons/phone.svg) no-repeat center center;
}
.o-service__phone {
  margin: 0 6px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .o-service {
    flex-direction: column;
    font-size: 18px;
  }
  .o-service__title, .o-service__phone {
    margin: 0;
  }
}

.o-siteLink {
  display: flex;
  flex-wrap: nowrap;
}
.o-siteLink__group + .o-siteLink__group {
  margin-left: 100px;
}
.o-siteLink__title {
  margin-bottom: 16px;
  font-weight: bold;
}
.o-siteLink__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.o-siteLink__list > li + li {
  margin-top: 8px;
}
.o-siteLink__item {
  color: #fff;
  text-decoration: none;
}
.o-siteLink__item--external:after {
  content: "";
  display: inline-block;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  margin-top: -4px;
  vertical-align: middle;
  background: url(../images/layout/icons/footer/external.svg) no-repeat center center;
  background-size: contain;
}
@media only screen and (max-width: 1199px) {
  .o-siteLink {
    display: block;
  }
  .o-siteLink__group + .o-siteLink__group {
    margin-top: 24px;
    margin-left: 0;
  }
}

.c-company__name {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: bold;
}
.c-company__info {
  margin: 24px 0;
}
.c-company__info > address {
  font-style: normal;
}
.c-company__follow {
  display: flex;
  align-items: center;
}
.c-company__follow > span {
  margin-right: 20px;
  font-weight: bold;
}
.c-company__social {
  display: inline-block;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  color: transparent;
  text-indent: -9999px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}
.c-company__social--yt {
  background-image: url(../images/layout/icons/footer/youtube.svg);
}
.c-company__social--fb {
  background-image: url(../images/layout/icons/footer/facebook.svg);
}
.c-company__social--line {
  background-image: url(../images/layout/icons/footer/line.svg);
}
.c-company__social + .c-company__social {
  margin-left: 20px;
}

.o-gotop {
  position: fixed;
  z-index: 9;
  right: 16px;
  bottom: 16px;
  display: flex;
  width: 64px;
  height: 64px;
  background: url(../images/layout/icons/arrow-up.svg) no-repeat #fff center center;
  border: 1px solid #C2DECA;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.o-gotop.is-active {
  opacity: 1;
}
@media only screen and (max-width: 1199px) {
  .o-gotop {
    width: 44px;
    height: 44px;
    background-size: 24px;
  }
  .has-bottomTool .o-gotop {
    bottom: 60px;
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */