<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore>
    <settings>
      <setting name="Counters.InstanceName" set:value="" />
      <setting name="Caching.SecurityCacheExpiration" set:value="00:20:00" />
      <setting name="Media.DisableFileMedia" set:value="false" />
      <setting name="Media.FileFolder" set:value="/App_Data/Replicated/MediaFiles" />
    </settings>
  </sitecore>
</configuration>