<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
      <setting name="Media.UploadAsVersionableByDefault" set:value="true" />
      <!-- The default is black, which seldom works with modern websites. -->
      <setting name="Media.DefaultImageBackgroundColor" set:value="#FFFFFF" />
      <!--There are settings for the resampling/resizing algorithms to use. Make sure you pick the most efficient algorithm.-->
      <setting name="Media.InterpolationMode" set:value="Bicubic" />
      <!-- Setting this to an empty string forces Sitecore to use the original file's extension. -->
      <setting name="Media.RequestExtension" set:value="" />
      <!--By default Sitecore is set to resize files at maximum (100%) quality, which is not only the slowest operation, but also produces the largest file size. This setting will un-do any pre-upload optimization you've done on your images. Make sure this value is set to match your in-house compression standards for images.-->
      <setting name="Media.Resizing.Quality" set:value="80" />
      <!--<setting name="Media.RequestProtection.Enabled" value="false" role:require="ContentDelivery" />-->
    </settings>
  </sitecore>
</configuration>