<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore>
    <settings>
      <setting name="Caching.AccessResultCacheSize" set:value="100MB" />
      <setting name="Caching.DefaultDataCacheSize" set:value="200MB" />
      <setting name="Caching.DefaultHtmlCacheSize" set:value="200MB" />
      <setting name="Caching.DefaultPathCacheSize" set:value="5MB" />
      <setting name="Caching.FastMediaCacheMapSize" set:value="500MB" />
      <setting name="Caching.StandardValues.DefaultCacheSize" set:value="10MB" />
    </settings>
    <databases>
      <database id="core" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" role:require="!ContentDelivery">
        <!-- \Sitecore.HistoryEngine.config.example -->
        <Engines.HistoryEngine.Storage>
          <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
            <param connectionStringName="$(id)">
            </param>
          </obj>
        </Engines.HistoryEngine.Storage>
        <!-- Sitecore.confg -->
        <cacheSizes hint="setting">
          <paths>10MB</paths>
          <standardValues>10MB</standardValues>
        </cacheSizes>
      </database>
      <database id="master" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" role:require="Standalone or Reporting or Processing or ContentManagement">
        <!-- \Sitecore.HistoryEngine.config.example -->
        <Engines.HistoryEngine.Storage>
          <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
            <param connectionStringName="$(id)" />
            <EntryLifeTime>30.00:00:00</EntryLifeTime>
          </obj>
        </Engines.HistoryEngine.Storage>
        <Engines.HistoryEngine.SaveDotNetCallStack>false</Engines.HistoryEngine.SaveDotNetCallStack>
        <!-- Sitecore.confg -->
        <cacheSizes hint="setting">
          <data>150MB</data>
          <items>150MB</items>
          <paths>10MB</paths>
          <standardValues>10MB</standardValues>
        </cacheSizes>
      </database>
      <database id="web" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" role:require="Standalone or ContentManagement or ContentDelivery">
        <!-- \Sitecore.HistoryEngine.config.example -->
        <Engines.HistoryEngine.Storage role:require="ContentManagement or ContentDelivery">
          <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
            <param connectionStringName="$(id)" />
            <EntryLifeTime>30.00:00:00</EntryLifeTime>
          </obj>
        </Engines.HistoryEngine.Storage>
        <Engines.HistoryEngine.SaveDotNetCallStack>false</Engines.HistoryEngine.SaveDotNetCallStack>
        <!-- Sitecore.confg -->
        <cacheSizes hint="setting">
          <data>150MB</data>
          <items>150MB</items>
          <paths>10MB</paths>
          <standardValues>10MB</standardValues>
        </cacheSizes>
      </database>
    </databases>
    <sites>
      <site name="website" htmlCacheSize="200MB" />
    </sites>
    <cacheSizes>
      <sites>
        <website>
          <patch:delete />
        </website>
        <website>
          <html>200MB</html>
        </website>
      </sites>
    </cacheSizes>
    <contentSearch role:require="Standalone or ContentManagement" search:require="lucene">
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <!-- \Sitecore\ContentSearch\Sitecore.ContentSearch.Lucene.Index.*.config -->
          <index id="sitecore_core_index" type="Sitecore.ContentSearch.LuceneProvider.SwitchOnRebuildLuceneIndex, Sitecore.ContentSearch.LuceneProvider"></index>
          <index id="sitecore_master_index" type="Sitecore.ContentSearch.LuceneProvider.SwitchOnRebuildLuceneIndex, Sitecore.ContentSearch.LuceneProvider"></index>
          <index id="sitecore_web_index" type="Sitecore.ContentSearch.LuceneProvider.SwitchOnRebuildLuceneIndex, Sitecore.ContentSearch.LuceneProvider"></index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>