<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <sc.variable name="log4netConversionPattern" value="%4t %d{ISO8601} %-5p %m%n" patch:before="prototypes[1]" />
    <log4net>
      <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender, Sitecore.Logging">
        <rollingStyle value="Composite" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="$(log4netConversionPattern)" />
        </layout>
      </appender>
      <appender name="PublishingLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="$(log4netConversionPattern)" />
        </layout>
      </appender>
      <appender name="ClientLogAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="$(log4netConversionPattern)" />
        </layout>
      </appender>
      <appender name="SearchLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="/App_Data/logs/Search.log.{date}.{time}.txt" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="$(log4netConversionPattern)" />
        </layout>
      </appender>
      <appender name="CrawlingLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="$(log4netConversionPattern)" />
        </layout>
      </appender>
      <appender name="OwinLogFileAppender" type="log4net.Appender.RollingFileAppender, Sitecore.Logging">
        <rollingStyle value="Composite" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="$(log4netConversionPattern)" />
        </layout>
      </appender>
      <appender name="ContactMergeLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="$(log4netConversionPattern)" />
        </layout>
      </appender>
      <appender name="AzureFallbackAppender" type="Sitecore.ExperienceContentManagement.Administration.Logging.AzureFallbackAppender, Sitecore.ExperienceContentManagement.Administration">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="$(log4netConversionPattern)" />
        </layout>
      </appender>
      <appender name="FxmLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="$(log4netConversionPattern)" />
        </layout>
      </appender>
      <appender name="ExmLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="$(log4netConversionPattern)" />
        </layout>
      </appender>
    </log4net>
  </sitecore>
</configuration>