<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <sc.variable name="siteScheme" value="" patch:before="prototypes[1]">
      <patch:attribute name="value" role:require="ContentManagement or ContentDelivery">https</patch:attribute>
    </sc.variable>
    <!-- The "hostName" can be a pipe-separated list of domains and is used to target the number of possible URL’s that points to this context. -->
    <sc.variable name="rootHostName" value="" patch:before="prototypes[1]" />
    <!-- The "targetHostName" is one URL which is used internally to resolve and fully qualify your URL. -->
    <sc.variable name="siteTargetHostName" value="" patch:before="prototypes[1]" />
    <settings>
      <setting name="HtmlEditor.DefaultProfile" set:value="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full" />
      <!-- Note: The default value of 100 is more than 15 years old. Modern computers and broadband can handle 1000 with no issues. -->
      <setting name="Query.MaxItems" set:value="4000" />
      <!-- \Sitecore\DeviceDetection.Client\Sitecore.CES.DeviceDetection.config -->
      <setting name="DeviceDetection.Enabled" set:value="false" role:require="Standalone or ContentDelivery or Processing" />
      <!-- \Sitecore\DetectionServices.Location\Sitecore.CES.GeoIp.config -->
      <setting name="GeoIp.PerformLookup" set:value="false" />
      <setting name="ServerTimeZone" set:value="Taipei Standard Time" />
      <setting name="Analytics.CookieLifetime" set:value="8760" />
      <setting name="DefaultFontUrl" value="/layouts/offline_fonts.css" />
    </settings>
    <mediaLibrary>
      <mediaTypes>
        <mediaType name="PDF file" extensions="pdf">
          <forceDownload>false</forceDownload>
        </mediaType>
      </mediaTypes>
    </mediaLibrary>
    <sites>
      <site name="website" set:scheme="$(siteScheme)" set:hostName="$(rootHostName)" set:targetHostName="$(siteTargetHostName)" set:database="$(defaultContentDatabaseName)" set:content="$(defaultContentDatabaseName)" set:dictionaryAutoCreate="false" set:CacheStrategy="ClearAfterPublish">
        <patch:attribute name="cacheHtml" role:require="ContentManagement">false</patch:attribute>
        <patch:attribute name="disableBrowserCaching" role:require="ContentDelivery">false</patch:attribute>
      </site>
      <!-- fix default miss -->
      <site name="scheduler" set:language="en" set:database="$(defaultContentDatabaseName)" set:content="$(defaultContentDatabaseName)" />
    </sites>
    <scheduling role:require="Standalone or ContentManagement">
      <!-- \Sitecore\PathAnalyzer\Sitecore.PathAnalyzer.Client.config -->
      <agent type="Sitecore.PathAnalyzer.Client.Tasks.HelpUpdateAgent,Sitecore.PathAnalyzer.Client">
        <patch:delete />
      </agent>
      <agent type="Sitecore.PathAnalyzer.Client.Tasks.HelpUpdateAgent,Sitecore.PathAnalyzer.Client" desc="PageExplorer Help">
        <patch:delete />
      </agent>
      <agent type="Sitecore.PathAnalyzer.Client.Tasks.HelpUpdateAgent,Sitecore.PathAnalyzer.Client" desc="PathAnalyzer Help">
        <patch:delete />
      </agent>
    </scheduling>
  </sitecore>
</configuration>