<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore>
    <settings>
      <!-- PERFORMANCE ENHANCER Screenshot Generation can happen on every Item save and can be very computationally expensive. Only turn it on if you're using it. -->
      <setting name="ContentTesting.GenerateScreenshots" value="none" />
      <!-- PERFORMANCE ENHANCER Counters take time to initialize and can fill the logs with garbage if they are not installed correctly. -->
      <setting name="Counters.Enabled" set:value="false" />
    </settings>
  </sitecore>
</configuration>