@using Foundation.Wealth.Helper

<div class="l-wrap">
    <div class="c-article">
        <div class="c-article__head">
            <div class="c-article__tag">
                <span class="o-hangTag o-hangTag--gn" id="newsTopTag"></span>
            </div>
            <div class="c-article__title" id="newsTitle"></div>
        </div>
        <div class="c-article__extra">
            <div class="c-minorInfo s4">
                <div class="c-minorInfo__main">
                    <span class="t-date" id="newsDate"></span>
                </div>
                <div class="c-minorInfo__like">
                    <span class="o-views o-views--xs" id="newsViewCount">0</span>
                    <a href="#" class="o-statusBtn o-statusBtn--sm o-statusBtn--like " data-after="收藏" data-msg="加入收藏|取消收藏" data-ia="true" data-ia-tooltip="false"></a>
                </div>
            </div>
        </div>
        <div class="c-article__content">
            <div class="c-section" id="newsContent">
            </div>
            <div class="c-hashTags">
                <div class="c-hashTags__title">Tags</div>
                <div class="c-hashTags__content">
                    <ul class="l-divideList l-divideList--sm">
                        <li class="l-divideList__item l-divideList__item--auto">
                            <a href="" class="o-hashTag u-nowrap" id="newsBottomTag"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="o-record">
            <a href="#" class="o-record__nav o-record__nav--prev">
                <span class="o-record__prev"></span>
                <span class="o-record__title">今年每股純益7.9~8元？群電：以公告為準</span>
            </a>
            <a href="#" class="o-record__nav o-record__nav--next">
                <span class="o-record__title">昶瑞機電現增案代收及存儲股款行庫</span>
                <span class="o-record__next"></span>
            </a>
        </div>
    </div>
</div>

<script>
    (function ($, window, document, undefined) {

        document.addEventListener('DOMContentLoaded', function () {
            if (!jQuery) {
                return;
            }

            var newsId = new URL(location.href).searchParams.get('id');
            var pageItemId = '@Sitecore.Context.Item.ID.ToString()';
            var currentUrl = location.href;

            $.ajax({
                type: "POST",
                url: '@ClientRoute.GenerateUrl(this, "News", "GetMarketNewsDetailData")',
                data: {
                    newsId: newsId,
                    pageItemId: pageItemId,
                    currentUrl: currentUrl
                },
                success: function (data) {
                    console.log(data);

                    $('#newsTopTag').text(data.NewsType);
                    $('#newsTitle').text(data.NewsTitle);
                    $('#newsDate').text(data.NewsDate);
                    $('#newsContent').html(data.NewsContent);
                    $('#newsBottomTag').text("#" + data.NewsType);
                    $('#newsViewCount').text(data.NewsViewCount);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX error: " + error);
                }
            });

        });
    })(jQuery, window, document);
</script>