@using Feature.Wealth.Component.Models.Banner
@model InnerBannerModel

<div class="c-kv">
    <div class="c-kv__wrap">
        <h1 class="c-kv__title u-ellipsis-2">@Html.Sitecore().Field(Templates.InnerBanner.Fields.Title.ToString(), Model.Item)</h1>
        <img src="@Model.ImageUrl" class="c-kv__img" alt="">
    </div>
</div>