@using Feature.Wealth.Component.Models.AnnouncementsAndWarnings
@model AnnouncementsAndWarningsModel

@if (Model == null || Html.Sitecore().Field(Templates.Announcements.Fields.Content.ToString(), Model.Item) == null)
{
    return;
}

<div class="c-section">
    <div class="c-section__content">
        <!-- .c-list--num: 純數字樣式
        .c-list--bracketNum: 數字+刮號樣式
        .c-list--disc: 實心圓點樣式
        .c-list--circle: 空心圓點樣式 -->
        <ol class="c-list c-list--num">
            @Html.Sitecore().Field(Templates.Announcements.Fields.Content.ToString(), Model.Item)
        </ol>
    </div>
</div>