@using Feature.Wealth.Account.Helpers;
@{
    if (!FcbMemberHelper.CheckMemberLogin())
    {
        return;
    }
    var model = FcbMemberHelper.fcbMemberModel;
}
<div class="l-mainstage">
    <div class="l-mainstage__wrap">
        <div class="l-mainstage__title">
            <h1 class="t-title">個人設定</h1>
        </div>
    </div>
</div>

<div class="l-wrap">
    <div class="c-tab c-tab--wide" data-tab="true">
        <div class="c-tab__header">
            <ul class="c-tab__navs">
                <!-- .is-active: 作用中的項目 -->
                <!-- [data-tab-target]: 值需對應 [data-tab-panel-id] 的值，按下後會自動顯示相對的 panel -->
                <!-- 若為外連，不要賦予[data-tab-target]屬性 -->
                <li><a href="#" class="c-tab__item is-active" target="_self" title="通知設定" data-tab-target="tab-1">通知設定</a></li>
                <li><a href="#" class="c-tab__item " target="_self" title="常用功能設定" data-tab-target="tab-2">常用功能設定</a></li>
                <li><a href="#" class="c-tab__item " target="_self" title="漲跌顯示顏色" data-tab-target="tab-3">漲跌顯示顏色</a></li>
            </ul>
            <div class="c-tab__collapse">
                <a href="#" class="c-tab__switch"></a>
                <div class="c-tab__dropdown"><a href="#" class="c-tab__clone is-active" target="_self" title="通知設定" data-tab-target="tab-1">通知設定</a><a href="#" class="c-tab__clone " target="_self" title="常用功能設定" data-tab-target="tab-2">常用功能設定</a><a href="#" class="c-tab__clone " target="_self" title="漲跌顯示顏色" data-tab-target="tab-3">漲跌顯示顏色</a></div>
            </div>
        </div>
        @Html.Partial("~/Views/Feature/Wealth/Account/MemberSettings/_InfoSetting.cshtml", model)
        @Html.Partial("~/Views/Feature/Wealth/Account/MemberSettings/_CommonFunctionSetting.cshtml", model)
        @Html.Partial("~/Views/Feature/Wealth/Account/MemberSettings/_QuoteChangeSetting.cshtml", model)

    </div>
</div>
