@model Feature.Wealth.Component.Models.ETF.Search.EtfSearchModel
@if (Model == null)
{
    return;
}

@Html.Partial("/Views/Feature/Wealth/Component/ETFSearch/_EtfSearchFilter.cshtml", Model.FilterModel)
@Html.Partial("/Views/Feature/Wealth/Component/ETFSearch/_EtfSearchResult.cshtml", Model.SearchResultModel)

<div id="popupPurchase" class="c-modal c-modal--sm mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">立即申購</h2>
        </header>
        <div class="c-modal__content">
            <div class="u-hidden@lt-up">
                <div class="l-flex u-flex-col u-flex-gap-xs">
                    <div class="l-flex__item">
                        <span class="t-bold">選擇申購平台：</span>
                    </div>
                    <div class="l-flex__item">
                        <div class="l-pickGroup">
                            <div class="l-pickGroup__item">
                                <label class="o-btnRadio">
                                    <input class="o-btnRadio__input" type="radio" name="platform" checked>
                                    <div class="o-btnRadio__text"><span>第e行動</span></div>
                                </label>
                            </div>
                            <div class="l-pickGroup__item">
                                <label class="o-btnRadio">
                                    <input class="o-btnRadio__input" type="radio" name="platform">
                                    <div class="o-btnRadio__text"><span>iLEO</span></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-modal__action">
            <div class="l-action l-action--inline">
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm">單筆申購</a>
                </div>
                <div class="l-action__item">
                    <a href="#" class="o-btn o-btn--primary o-btn--sm">定期定額</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popupCurrency" class="c-modal c-modal--xs mfp-hide">
    <div class="c-modal__wrap">
        <header class="c-modal__header">
            <h2 class="c-modal__title">幣別提示說明</h2>
        </header>
        <div class="c-modal__content">
            <p>點擊幣別可查詢相關匯率</p>
        </div>
    </div>
</div>

<script src="~/themes/js/filter.min.js"></script>
<script src="~/themes/vendor/noUiSlider/nouislider.min.js"></script>
<script src="~/themes/vendor/wnumb/wNumb.min.js"></script>

<script>
    (function ($, window, document, undefined) {
        document.addEventListener('DOMContentLoaded', function () {
            if (!jQuery) {
                return;
            }

            function SearchResultRespList() {
                this.List;
                var $this = this;

                this.Init = function () {
                    $this.List = [];
                }
            }

            var searchResultList = new SearchResultRespList();

            $.extend({
                ETFSearch: {
                    ListHelper: {
                        QueryList: function () {
                            searchResultList.Init();

                            $.ajax({
                                url: '@Foundation.Wealth.Helper.ClientRoute.GenerateUrl(this, "EtfSearch", "GetSearchResultData")',
                                type: 'POST',
                                success: function (resp) {
                                    if (resp) {
                                        console.log(resp);
                                        searchResultList.List = resp;
                                    }
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR, textStatus, errorThrown);
                                }
                            });
                        }
                    }
                }
            });

            $(function () {
                // 拉霸
                $('[data-slider-bar="size"]').sliderBar({
                    start: [0, 302],
                    connect: true,
                    range: {
                        'min': [0, 2],
                        '17%': [2, 8],
                        '33.5%': [10, 20],
                        '50%': [30, 70],
                        '66.5%': [100, 200],
                        '83%': [300, 2],
                        'max': 302
                    },
                    pips: {
                        mode: 'positions',
                        values: [0, 17, 33.5, 50, 66.5, 83, 100],
                        density: -1,
                        format: wNumb({
                            suffix: '百萬'
                        })
                    }
                });
                $('[data-slider-bar="returnRate"]').sliderBar({
                    start: [-5, 20],
                    step: 5,
                    connect: true,
                    range: {
                        'min': -5,
                        'max': 20
                    },
                    pips: {
                        mode: 'steps',
                        density: -1,
                        format: wNumb({
                            suffix: '%'
                        })
                    }
                });
                $('[data-slider-bar="sharpe"]').sliderBar({
                    start: [-0.5, 2],
                    step: 0.5,
                    connect: true,
                    range: {
                        'min': -0.5,
                        'max': 2
                    },
                    pips: {
                        mode: 'steps',
                        density: -1,
                        format: wNumb({})
                    }
                });
                $('[data-slider-bar="beta"]').sliderBar({
                    start: [-0.5, 2],
                    step: 0.5,
                    connect: true,
                    range: {
                        'min': -0.5,
                        'max': 2
                    },
                    pips: {
                        mode: 'steps',
                        density: -1,
                        format: wNumb({})
                    }
                });
                $('[data-slider-bar="standardDeviation"]').sliderBar({
                    start: [0, 25],
                    step: 5,
                    connect: true,
                    range: {
                        'min': 0,
                        'max': 25
                    },
                    pips: {
                        mode: 'steps',
                        density: -1,
                        format: wNumb({
                            suffix: '%'
                        })
                    }
                });

                // 報酬率組合
                $('[data-filter-part="returnRate"] input').on('change.returnRate', function () {
                    // 日期區間有值時，才需要帶tag下去
                    const releaseSetTag = $('[data-return-rate-date]:checked').length > 0;
                    // 若父層[data-filter-group]的值為'special'，則不會印出已選擇的tag
                    $(this).closest('[data-filter-group]').attr('data-filter-group', releaseSetTag ? '' : 'special');
                });
                // 報酬率日期區間
                $('[data-return-rate-date]').on('change.returnRateDate', function () {
                    // 日期區間有值時，才顯示報酬率拉霸
                    $('[data-return-rate-money]').closest('.l-flex__item').toggleClass('u-hidden', $('[data-return-rate-date]:checked').length === 0);
                    $('[data-return-rate-money]').val('').trigger('input.reset');
                });

                // 報酬率幣別固定預設值"原幣"
                $('[data-currency]').on('change.currency', function () {
                    if (!$('[data-currency]:checked').length > 0) {
                        $('[data-currency]').eq(0).prop('checked', true);
                    }
                });

                // ------------- 示意資料載入出現loading畫面，請更換成正確程式碼 -------------
                function loading() {
                    // 開啟loading方式:
                    window.loading('show');
                    setTimeout(() => {
                        // 載入完成需將loading關閉
                        // 關閉loading方式:
                        window.loading('hide');
                    }, 300);
                }

                // 僅示意用
                $('.l-mainstage input:not([data-keyword-input])').on('change.loading', function () {
                    loading();
                });
                $('[data-keyword-submit]').on('click.loading', function () {
                    if (!!$('[data-keyword-input]').val().trim()) {
                        loading();
                    }
                });
                $('[data-keyword-input]').on('keypress.loading', function (e) {
                    if (e.which === 13 && !!$(this).val().trim()) {
                        loading();
                    }
                });
                // ------------- 示意資料載入出現loading畫面，請更換成正確程式碼 -------------
            });

            $(function () {
                // table 排序功能
                $(document).on('click.sorting', '.o-sorting', function (e) {
                    e.preventDefault();
                    // 呼叫 loading
                    window.loading('show');
                    var $this = $(this);
                    var orderby = '';
                    if ($this.hasClass('is-asc')) {
                        $this.removeClass('is-asc').addClass('is-desc');
                        orderby = 'is-desc';
                    } else {
                        $this.closest('.l-table').find('.o-sorting').removeClass('is-asc is-desc');
                        $this.addClass('is-asc');
                        orderby = 'is-asc';
                    }

                    // 連動 sortingbox
                    var tableName = $(this).closest('[data-table-name]').data('table-name');
                    var $sortingbox = $(`[data-sorting-linkto="${tableName}"]`);
                    var sortingColumn = $(this).data('sorting-column');
                    $(`option[data-sorting-column="${sortingColumn}"][data-sorting-class="${orderby}"]`, $sortingbox).prop('selected', true);
                    $sortingbox.trigger('change');

                    // 因展示，使用 setTimeout 延遲關閉 loading
                    setTimeout(() => {
                        // 關閉loading
                        window.loading('hide');
                    }, 300);
                });

                // 手機版分頁筆數功能
                $(document).on('change.sorting', '[data-sortingbox="true"]', function (e) {
                    // 呼叫 loading
                    window.loading('show');
                    var sorting = $(this).val();
                    var $linkTable = $(`[data-table-name="${$(this).data('sorting-linkto')}"]`);
                    var sortingColumn = $('option:selected', this).data('sorting-column');
                    var orderby = $('option:selected', this).data('sorting-class');

                    // 連動 table
                    $('.o-sorting', $linkTable).removeClass('is-asc is-desc');
                    $(`[data-sorting-column="${sortingColumn}"]`, $linkTable).addClass(orderby);
                    console.log(`排序：${sorting}`);

                    // 因展示，使用 setTimeout 延遲關閉 loading
                    setTimeout(() => {
                        // 關閉loading
                        window.loading('hide');
                    }, 300);
                });

                // 分頁功能
                $(document).on('update.pagination', '.o-pagination__no', function (e) {
                    // 呼叫 loading
                    window.loading('show');
                    var page = parseInt($(this).val());
                    console.log(`頁碼：${page}`);

                    // scroll 到表頭
                    $(this).trigger('scrolltop');

                    // 因展示，故使用 setTimeout 延遲關閉 loading
                    setTimeout(() => {
                        // 關閉loading
                        window.loading('hide');
                    }, 300);
                });

                // 分頁筆數功能
                $(document).on('change.pagesize', '[data-sizebox="true"]', function (e) {
                    // 呼叫 loading
                    window.loading('show');
                    var size = $(this).val();
                    console.log(`每頁顯示${size}筆`);

                    // 因展示，使用 setTimeout 延遲關閉 loading
                    setTimeout(() => {
                        // 關閉loading
                        window.loading('hide');
                    }, 300);
                });
            });
        });
    })(jQuery, window, document);
</script>