@*查無商品*@
<div class="c-tab__panel" data-tab-panel-id="tab-7" data-tab-name="NoProduct">
    <div class="c-section">
        <div class="c-section__content">
            <div class="c-empty">
                <div class="c-empty__img">
                    <img src="~/themes/images/lions/lion-compare.svg" alt="">
                </div>
                <div class="c-empty__desc">查無商品，請嘗試調整篩選條件</div>
            </div>
        </div>
    </div>
    <div class="c-section">
        <div class="c-section__title">你可能也有興趣</div>
        <div class="c-section__content">
            <div class="swiper c-swiper c-swiper--recommend" data-carousel="true" data-swiper='{ "slidesPerGroup": 1, "slidesPerView": 1, "grid": { "rows": 1 }, "spaceBetween": 16, "autoplay": false, "breakpoints": { "1200": { "slidesPerGroup": 3, "slidesPerView": 3, "grid": { "rows": 2 }, "spaceBetween": 20 }}}'>
                <div class="swiper-wrapper c-swiper__wrapper">
                    <div class="swiper-slide c-swiper__slide">
                        <!-- .u-shadow-animation: hover時陰影特效 -->
                        <div class="c-box c-box--goods">
                            <div class="c-box__main">
                                <div class="c-cardFund">
                                    <a href="./detail.html" class="c-cardFund__name u-ellipsis-2">
                                        71CY 富蘭克林華美新興國家固定收益基金-B分配型(人民幣)(本基金有相當比重投資於非投資等級之高風險債券且基金之配息來源可能為本金)
                                    </a>
                                    <div class="c-cardFund__trend">
                                        <div class="c-cardFund__rate">
                                            <span class="t-small">
                                                <span class="t-fall">月報酬率</span>
                                                <span class="o-fall o-fall--sm">0.46%</span>
                                            </span>
                                        </div>
                                        <div class="c-cardFund__charts">
                                            <!-- .o-charts--rise: 漲, .o-charts--fall: 跌，會透過css處理漲跌顏色設定 -->
                                            <!-- [data-chart="mini"]: charts圖表，參考下方script邏輯 -->
                                            <div class="o-charts o-charts--fall" data-chart="mini"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-box__actions">
                                <ul class="l-collect l-collect--divider">
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--like" data-after="關注" data-after-lt="關注" data-msg="加入關注|取消關注" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--compare" data-after="比較" data-after-lt="比較" data-msg="加入比較|取消比較" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item l-collect__item--btn">
                                        <a href="#popupPurchase" class="o-tableBtn o-tableBtn--card" data-popup="true">申購</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide c-swiper__slide">
                        <!-- .u-shadow-animation: hover時陰影特效 -->
                        <div class="c-box c-box--goods">
                            <div class="c-box__main">
                                <div class="c-cardFund">
                                    <a href="./detail.html" class="c-cardFund__name u-ellipsis-2">
                                        LA55 貝萊德日本靈活股票基金A2日圓
                                    </a>
                                    <div class="c-cardFund__trend">
                                        <div class="c-cardFund__rate">
                                            <span class="t-small">
                                                <span class="t-rise">月報酬率</span>
                                                <span class="o-rise o-rise--sm">1.32%</span>
                                            </span>
                                        </div>
                                        <div class="c-cardFund__charts">
                                            <!-- .o-charts--rise: 漲, .o-charts--fall: 跌，會透過css處理漲跌顏色設定 -->
                                            <!-- [data-chart="mini"]: charts圖表，參考下方script邏輯 -->
                                            <div class="o-charts o-charts--rise" data-chart="mini"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-box__actions">
                                <ul class="l-collect l-collect--divider">
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--like" data-after="關注" data-after-lt="關注" data-msg="加入關注|取消關注" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--compare" data-after="比較" data-after-lt="比較" data-msg="加入比較|取消比較" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item l-collect__item--btn">
                                        <a href="#popupPurchase" class="o-tableBtn o-tableBtn--card" data-popup="true">申購</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide c-swiper__slide">
                        <!-- .u-shadow-animation: hover時陰影特效 -->
                        <div class="c-box c-box--goods">
                            <div class="c-box__main">
                                <div class="c-cardFund">
                                    <a href="./detail.html" class="c-cardFund__name u-ellipsis-2">
                                        77BX 復華台灣好收益基金
                                    </a>
                                    <div class="c-cardFund__trend">
                                        <div class="c-cardFund__rate">
                                            <span class="t-small">
                                                <span class="t-rise">月報酬率</span>
                                                <span class="o-rise o-rise--sm">2.22%</span>
                                            </span>
                                        </div>
                                        <div class="c-cardFund__charts">
                                            <!-- .o-charts--rise: 漲, .o-charts--fall: 跌，會透過css處理漲跌顏色設定 -->
                                            <!-- [data-chart="mini"]: charts圖表，參考下方script邏輯 -->
                                            <div class="o-charts o-charts--rise" data-chart="mini"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-box__actions">
                                <ul class="l-collect l-collect--divider">
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--like" data-after="關注" data-after-lt="關注" data-msg="加入關注|取消關注" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--compare" data-after="比較" data-after-lt="比較" data-msg="加入比較|取消比較" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item l-collect__item--btn">
                                        <a href="#popupPurchase" class="o-tableBtn o-tableBtn--card" data-popup="true">申購</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide c-swiper__slide">
                        <!-- .u-shadow-animation: hover時陰影特效 -->
                        <div class="c-box c-box--goods">
                            <div class="c-box__main">
                                <div class="c-cardFund">
                                    <a href="./detail.html" class="c-cardFund__name u-ellipsis-2">
                                        64DH 柏瑞新興邊境非投資等級債券基金B月配息(南非幣)(本基金之配息來源可能為本金)
                                    </a>
                                    <div class="c-cardFund__trend">
                                        <div class="c-cardFund__rate">
                                            <span class="t-small">
                                                <span class="t-fall">月報酬率</span>
                                                <span class="o-fall o-fall--sm">0.33%</span>
                                            </span>
                                        </div>
                                        <div class="c-cardFund__charts">
                                            <!-- .o-charts--rise: 漲, .o-charts--fall: 跌，會透過css處理漲跌顏色設定 -->
                                            <!-- [data-chart="mini"]: charts圖表，參考下方script邏輯 -->
                                            <div class="o-charts o-charts--fall" data-chart="mini"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-box__actions">
                                <ul class="l-collect l-collect--divider">
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--like" data-after="關注" data-after-lt="關注" data-msg="加入關注|取消關注" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--compare" data-after="比較" data-after-lt="比較" data-msg="加入比較|取消比較" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item l-collect__item--btn">
                                        <a href="#popupPurchase" class="o-tableBtn o-tableBtn--card" data-popup="true">申購</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide c-swiper__slide">
                        <!-- .u-shadow-animation: hover時陰影特效 -->
                        <div class="c-box c-box--goods">
                            <div class="c-box__main">
                                <div class="c-cardFund">
                                    <a href="./detail.html" class="c-cardFund__name u-ellipsis-2">
                                        77BX 復華台灣好收益基金
                                    </a>
                                    <div class="c-cardFund__trend">
                                        <div class="c-cardFund__rate">
                                            <span class="t-small">
                                                <span class="t-rise">月報酬率</span>
                                                <span class="o-rise o-rise--sm">2.22%</span>
                                            </span>
                                        </div>
                                        <div class="c-cardFund__charts">
                                            <!-- .o-charts--rise: 漲, .o-charts--fall: 跌，會透過css處理漲跌顏色設定 -->
                                            <!-- [data-chart="mini"]: charts圖表，參考下方script邏輯 -->
                                            <div class="o-charts o-charts--rise" data-chart="mini"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-box__actions">
                                <ul class="l-collect l-collect--divider">
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--like" data-after="關注" data-after-lt="關注" data-msg="加入關注|取消關注" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--compare" data-after="比較" data-after-lt="比較" data-msg="加入比較|取消比較" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item l-collect__item--btn">
                                        <a href="#popupPurchase" class="o-tableBtn o-tableBtn--card" data-popup="true">申購</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide c-swiper__slide">
                        <!-- .u-shadow-animation: hover時陰影特效 -->
                        <div class="c-box c-box--goods">
                            <div class="c-box__main">
                                <div class="c-cardFund">
                                    <a href="./detail.html" class="c-cardFund__name u-ellipsis-2">
                                        77BX 復華台灣好收益基金
                                    </a>
                                    <div class="c-cardFund__trend">
                                        <div class="c-cardFund__rate">
                                            <span class="t-small">
                                                <span class="t-rise">月報酬率</span>
                                                <span class="o-rise o-rise--sm">2.22%</span>
                                            </span>
                                        </div>
                                        <div class="c-cardFund__charts">
                                            <!-- .o-charts--rise: 漲, .o-charts--fall: 跌，會透過css處理漲跌顏色設定 -->
                                            <!-- [data-chart="mini"]: charts圖表，參考下方script邏輯 -->
                                            <div class="o-charts o-charts--rise" data-chart="mini"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-box__actions">
                                <ul class="l-collect l-collect--divider">
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--like" data-after="關注" data-after-lt="關注" data-msg="加入關注|取消關注" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item">
                                        <!-- [data-after]: pc 顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-after-lt]: pad / mobile 自動顯示文字在後方，值為要顯示的文字 -->
                                        <!-- [data-ia="true"]: 互動式按鈕功能，hover 顯示 tooltip，點擊後顯示結果訊息 -->
                                        <!-- [data-msg]: hover/click 時顯示的提示內容，normal / active 狀態的訊息以 "|" 符號分隔 -->
                                        <a href="#" class="o-statusBtn o-statusBtn--compare" data-after="比較" data-after-lt="比較" data-msg="加入比較|取消比較" data-ia="true"></a>
                                    </li>
                                    <li class="l-collect__item l-collect__item--btn">
                                        <a href="#popupPurchase" class="o-tableBtn o-tableBtn--card" data-popup="true">申購</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next c-swiper__next"></div>
                <div class="swiper-button-prev c-swiper__prev"></div>
                <div class="swiper-pagination c-swiper__pagination"></div>
            </div>
        </div>
    </div>
</div>
