@model Feature.Wealth.Component.Models.ETF.Detail.EtfDetailModel
@using Feature.Wealth.Component.Models.ETF.Detail;
@using Foundation.Wealth.Extensions;
@using Foundation.Wealth.Helper;
@{
    var etfData = Model.BasicEtf as EtfDetail;
    var ETFHistoryPriceApiUrl = ClientRoute.GenerateUrl(this, "EtfDetail", "GetHistoryPrice");

}
@*歷史買賣價*@
<div class="c-tab__panel" data-tab-panel-id="tab-3">
    <section class="c-section u-printBreak">
        <div class="c-section__title">一銀買價</div>
        <div class="c-section__content">
            <div class="c-borderBox">
                <div class="l-divideList l-divideList--col2@mb-only">
                    <div class="l-divideList__item">
                        <div class="c-numerical">
                            <div class="c-numerical__title c-numerical__title--dk"><span>價格</span></div>
                            <div class="c-numerical__content">

                                <span>48.9100(美元)</span>
                            </div>
                        </div>
                    </div>
                    <div class="l-divideList__item">
                        <div class="c-numerical">
                            <div class="c-numerical__title c-numerical__title--dk"><span>漲跌/漲跌幅</span></div>
                            <div class="c-numerical__content">

                                <span class="o-rise">0.10</span> / <span class="o-rise">0.10%</span>
                            </div>
                        </div>
                    </div>
                    <div class="l-divideList__item">
                        <div class="c-numerical">
                            <div class="c-numerical__title c-numerical__title--dk"><span>最高價格(年)</span></div>
                            <div class="c-numerical__content">

                                <span>59.0800</span>
                            </div>
                        </div>
                    </div>
                    <div class="l-divideList__item">
                        <div class="c-numerical">
                            <div class="c-numerical__title c-numerical__title--dk"><span>最低價格(年)</span></div>
                            <div class="c-numerical__content">

                                <span>44.5200</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="l-dataNotes"><span class="t-note">資料日期：@etfData.NetAssetValueDate</span></div>*@
        </div>
    </section>
    <section class="c-section u-printBreak">
        <div class="c-section__title">一銀賣價</div>
        <div class="c-section__content">
            <div class="c-borderBox">
                <div class="l-divideList l-divideList--col2@mb-only">
                    <div class="l-divideList__item">
                        <div class="c-numerical">
                            <div class="c-numerical__title c-numerical__title--dk"><span>價格</span></div>
                            <div class="c-numerical__content">

                                <span>48.9100(美元)</span>
                            </div>
                        </div>
                    </div>
                    <div class="l-divideList__item">
                        <div class="c-numerical">
                            <div class="c-numerical__title c-numerical__title--dk"><span>漲跌/漲跌幅</span></div>
                            <div class="c-numerical__content">

                                <span class="o-rise">0.10</span> / <span class="o-rise">0.10%</span>
                            </div>
                        </div>
                    </div>
                    <div class="l-divideList__item">
                        <div class="c-numerical">
                            <div class="c-numerical__title c-numerical__title--dk"><span>最高價格(年)</span></div>
                            <div class="c-numerical__content">

                                <span>59.0800</span>
                            </div>
                        </div>
                    </div>
                    <div class="l-divideList__item">
                        <div class="c-numerical">
                            <div class="c-numerical__title c-numerical__title--dk"><span>最低價格(年)</span></div>
                            <div class="c-numerical__content">

                                <span>44.5200</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="c-section u-printBreak">
        <div class="c-section__title">買賣價走勢</div>
        <div class="c-section__content" data-chart="priceTrend">
            <div class="c-empty">
                <div class="c-empty__img">
                    <img src="~/themes/images/lions/lion-keyword.svg" alt="">
                </div>
                <div class="c-empty__desc">沒有資料</div>
            </div>
            <div class="c-chartBox">
                <div class="c-chartBox__filter">
                    <div class="l-flex u-flex-gap-md u-flex-top u-flex-col@lt">
                        <div class="l-flex__item">
                            <div class="l-pickGroup">
                                <div class="l-pickGroup__item">
                                    <label class="o-btnRadio o-btnRadio--capsule o-btnRadio--sm">
                                        <input class="o-btnRadio__input" type="radio" name="priceDateRange" value="sinceYear" data-trend-filter="priceDateRange" checked>
                                        <div class="o-btnRadio__text"><span>今年以來</span></div>
                                    </label>
                                </div>
                                <div class="l-pickGroup__item">
                                    <label class="o-btnRadio o-btnRadio--capsule o-btnRadio--sm">
                                        <input class="o-btnRadio__input" type="radio" name="priceDateRange" value="3m" data-trend-filter="priceDateRange">
                                        <div class="o-btnRadio__text"><span>3個月</span></div>
                                    </label>
                                </div>
                                <div class="l-pickGroup__item">
                                    <label class="o-btnRadio o-btnRadio--capsule o-btnRadio--sm">
                                        <input class="o-btnRadio__input" type="radio" name="priceDateRange" value="6m" data-trend-filter="priceDateRange">
                                        <div class="o-btnRadio__text"><span>6個月</span></div>
                                    </label>
                                </div>
                                <div class="l-pickGroup__item">
                                    <label class="o-btnRadio o-btnRadio--capsule o-btnRadio--sm">
                                        <input class="o-btnRadio__input" type="radio" name="priceDateRange" value="12m" data-trend-filter="priceDateRange">
                                        <div class="o-btnRadio__text"><span>1年</span></div>
                                    </label>
                                </div>
                                <div class="l-pickGroup__item">
                                    <label class="o-btnRadio o-btnRadio--capsule o-btnRadio--sm">
                                        <input class="o-btnRadio__input" type="radio" name="priceDateRange" value="24m" data-trend-filter="priceDateRange">
                                        <div class="o-btnRadio__text"><span>2年</span></div>
                                    </label>
                                </div>
                                <div class="l-pickGroup__item">
                                    <label class="o-btnRadio o-btnRadio--capsule o-btnRadio--sm">
                                        <input class="o-btnRadio__input" type="radio" name="priceDateRange" value="36m" data-trend-filter="priceDateRange">
                                        <div class="o-btnRadio__text"><span>3年</span></div>
                                    </label>
                                </div>
                                <div class="l-pickGroup__item">
                                    <label class="o-btnRadio o-btnRadio--capsule o-btnRadio--sm">
                                        <input class="o-btnRadio__input" type="radio" name="priceDateRange" value="60m" data-trend-filter="priceDateRange">
                                        <div class="o-btnRadio__text"><span>5年</span></div>
                                    </label>
                                </div>
                                <div class="l-pickGroup__item">
                                    <label class="o-btnRadio o-btnRadio--capsule o-btnRadio--sm">
                                        <input class="o-btnRadio__input" type="radio" name="priceDateRange" value="establishment" data-trend-filter="priceDateRange">
                                        <div class="o-btnRadio__text"><span>成立至今</span></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="l-flex__item">
                            <div class="l-flex u-flex-gap-min u-flex-top u-flex-left u-flex-right@dt-only">
                                <div class="l-flex__item l-flex__item--auto">
                                    <div class="l-form">
                                        <div class="l-form__item">
                                            <div class="o-calendarBox o-calendarBox--filter">
                                                <input type="text" class="o-calendarBox__input" data-trend-filter="priceInputStart" data-calendar="true" data-date-end-date="0d" readonly>
                                            </div>
                                        </div>
                                        <div class="l-form__error">
                                            <span class="o-errorText"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-flex__item l-flex__item--auto">-</div>
                                <div class="l-flex__item l-flex__item--auto">
                                    <div class="l-form">
                                        <div class="l-form__item">
                                            <div class="o-calendarBox o-calendarBox--filter">
                                                <input type="text" class="o-calendarBox__input" data-trend-filter="priceInputEnd" data-calendar="true" data-date-end-date="0d" readonly>
                                            </div>
                                        </div>
                                        <div class="l-form__error">
                                            <span class="o-errorText"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-flex__item l-flex__item--auto">
                                    <button type="submit" class="o-searchBtn" data-trend-filter="priceSubmit"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-chartBox__chart">
                    <div id="priceTrendChart"></div>
                </div>
            </div>
            @*<div class="l-dataNotes"><span class="t-date">資料日期：</span><span class="t-date" data-update-date="price">2023/09/13</span></div>*@
        </div>
    </section>
    <section class="c-section u-printBreak">
        <div class="c-section__title">近30日淨值</div>
        <div class="c-section__content">
            @if (Model.ETFThiryDaysNav != null && Model.ETFThiryDaysNav.Any())
            {
                int count = Model.ETFThiryDaysNav.Count;
                int index = 0, groupSize = 10, rowLimit = 5;

                <div class="swiper c-swiper c-swiper--minor" data-carousel="true" data-swiper='{"spaceBetween":20, "autoplay": false, "navigation":{ "enabled":true }, "breakpoints": {"1200": { "navigation":{ "enabled":false }}}}'>
                    <div class="swiper-wrapper c-swiper__wrapper">
                        @for (int i = 0 ; i < count ; i += groupSize)
                        {
                            <div class="swiper-slide c-swiper__slide">
                                <!-- 左右表格 -->
                                <div class="l-flex u-flex-gap-col-max@dt-only u-flex-col@lt u-flex-top@dt-only" data-merge-table>
                                    @for (int y = 0 ; y < groupSize && index < count ; y += rowLimit)
                                    {
                                        string hidden = string.Empty;

                                        if (index != 0 && (index + 1) % groupSize != 0)
                                        {
                                            hidden = "u-hidden@lt";
                                        }
                                        <div class="l-flex__item">
                                            <div class="l-table">
                                                <table class="c-table u-center">
                                                    <colgroup>
                                                        <col style="width: 33.3%;">
                                                        <col style="width: 33.3%;">
                                                        <col style="width: 33.3%;">
                                                        <col style="width: 33.3%;">
                                                    </colgroup>
                                                    <thead class="@hidden">
                                                        <tr>
                                                            <th>
                                                                <div class="c-table__title">
                                                                    <span>日期</span>
                                                                </div>
                                                            </th>
                                                            <th>
                                                                <div class="c-table__title">
                                                                    <span>市價</span>
                                                                </div>
                                                            </th>
                                                            <th>
                                                                <div class="c-table__title">
                                                                    <span>淨值</span>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int z = 0 ; z < rowLimit ; ++z)
                                                        {
                                                            index = i + y + z;
                                                            if (index >= count)
                                                            {
                                                                break;
                                                            }
                                                            var item = Model.ETFThiryDaysNav[index];

                                                            <tr>
                                                                <td>
                                                                    @DateTimeExtensions.FormatDate(item.NetAssetValueDate)
                                                                </td>
                                                                <td>
                                                                    @item.MarketPrice.FormatDecimalNumber(4)
                                                                </td>
                                                                <td>
                                                                    @item.NetAssetValue.FormatDecimalNumber(4)
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="swiper-button-next c-swiper__next"></div>
                    <div class="swiper-button-prev c-swiper__prev"></div>
                    <div class="swiper-pagination c-swiper__pagination"></div>
                </div>
            }
            else
            {
                <div class="c-empty">
                    <div class="c-empty__img">
                        <img src="~/themes/images/lions/lion-keyword.svg" alt="">
                    </div>
                    <div class="c-empty__desc">沒有資料</div>
                </div>
            }
        </div>
    </section>
</div>

<script>
    (function ($, window, document, undefined) {

        // ETF詳細頁 HighCharts 圖表ETF參數，請替換成實際ETF Id

        function required($element) {
            const requiredMsg = '欄位必填';
            let $parents = $element.closest('.l-form');
            let $msg = $parents.find('.o-errorText');
            let isEmpty = $element.val().trim() == '';
            $parents.toggleClass('is-error', isEmpty);
            $msg.text(isEmpty ? requiredMsg : '');
            return !isEmpty;
        }

        function dateRange($inputStart, $inputEnd) {
            const dateRangeMsg = '起訖日期區間錯誤';
            let startDate = new Date($inputStart.val());
            let endDate = new Date($inputEnd.val());
            let $startParents = $inputStart.closest('.l-form');
            let $endParents = $inputEnd.closest('.l-form');
            if (endDate < startDate) {
                $startParents.addClass('is-error');
                $endParents.addClass('is-error');
                $startParents.find('.o-errorText').text(dateRangeMsg);
                return false;
            } else {
                $startParents.removeClass('is-error');
                $endParents.removeClass('is-error');
                $startParents.find('.o-errorText').text('');
                return true;
            }
        }

        //#region 歷史買賣價 – 買賣價走勢
        document.addEventListener('DOMContentLoaded', function () {
            if (!jQuery) {
                return;
            }

            $('[data-trend-filter="priceDateRange"]').on('change', function () {
                $('[data-trend-filter="priceInputStart"], [data-trend-filter="priceInputEnd"]').val('');
                $('[data-chart="priceTrend"] .l-form').removeClass('is-error');
                getParams();
            });
            $('[data-trend-filter="priceSubmit"]').on('click', function (e) {
                let $inputStart = $('[data-trend-filter="priceInputStart"]');
                let $inputEnd = $('[data-trend-filter="priceInputEnd"]');
                if (required($inputStart) && required($inputEnd) && dateRange($inputStart, $inputEnd)) {
                    $('[data-trend-filter="priceDateRange"]').prop('checked', false);
                    getParams();
                }
            });
            $('[data-trend-filter="priceDateRange"]:checked').trigger('change');

            var chart;

            function getParams() {
                const obj = {
                    range: $('[data-trend-filter="priceDateRange"]:checked').val(),
                    startDate: $('[data-trend-filter="priceInputStart"]').val(),
                    endDate: $('[data-trend-filter="priceInputEnd"]').val()
                };

                let today = new Date();

                function calDateRange(month) {
                    let set = new Date().setMonth(new Date().getMonth() - month);
                    let setDate = new Date(set);
                    return setDate.getFullYear() + '-' + ((setDate.getMonth() + 1) < 10 ? '0' + (setDate.getMonth() + 1) : (setDate.getMonth() + 1)) + '-' + setDate.getDate();
                }

                if (!obj.startDate && !obj.endDate) {
                    switch (obj.range) {
                        case 'sinceYear':
                            obj.startDate = today.getFullYear() + '-' + '01-01';
                            obj.endDate = today.toISOString().split('T')[0];
                            break;
                        case '3m':
                            obj.startDate = calDateRange(3)
                            obj.endDate = today.toISOString().split('T')[0];
                            break;
                        case '6m':
                            obj.startDate = calDateRange(6)
                            obj.endDate = today.toISOString().split('T')[0];
                            break;
                        case '12m':
                            obj.startDate = calDateRange(12);
                            obj.endDate = today.toISOString().split('T')[0];
                            break;
                        case '24m':
                            obj.startDate = calDateRange(24);
                            obj.endDate = today.toISOString().split('T')[0];
                            break;
                        case '36m':
                            obj.startDate = calDateRange(36);
                            obj.endDate = today.toISOString().split('T')[0];
                            break;
                        case '60m':
                            obj.startDate = calDateRange(60);
                            obj.endDate = today.toISOString().split('T')[0];
                            break;
                        case 'establishment':
                            obj.startDate = $('span[data-establishmentDate]').text().replaceAll('/', '-');
                            obj.endDate = today.toISOString().split('T')[0];
                            break;
                    }

                    $('[data-trend-filter="priceInputStart"]').val(obj.startDate.replaceAll('-', '/'));
                    $('[data-trend-filter="priceInputEnd"]').val(obj.endDate.replaceAll('-', '/'));
                    $('[data-trend-filter="priceInputStart"]').datepicker('setDate', obj.startDate.replaceAll('-', '/'));
                    $('[data-trend-filter="priceInputEnd"]').datepicker('setDate', obj.endDate.replaceAll('-', '/'));
                } else {
                    obj.startDate = obj.startDate.replaceAll('/', '-');
                    obj.endDate = obj.endDate.replaceAll('/', '-');
                }

                if (chart) {
                    chart.showLoading();
                }

                initPriceTrendChart(obj);
            }

            function roundToTwo(num) {
                return +(Math.round(num + 'e+2') + 'e-2');
            }

            async function initPriceTrendChart(obj) {
                try {
                    /*
                     * API參數
                     * id: ETF代號：請替換成實際ETF的id
                     * currency: 幣別
                     * range: 區間
                     * startDate: 自訂開始日期
                     * endDate: 自訂結束日期
                     */
                    const params = {
                        etfId: etfId,
                        ...obj
                    };

                    // 呼叫 API ETF詳細頁 – 績效/淨值 - 市價/淨值走勢
                    //let data = await apiRequestGet('https://mock.apidog.com/m1/446201-0-default/etf/historyprice', params);
                    // 呼叫 mock data json
                    //const data = await apiRequestGet('../themes/chartdatas/history-data.json', params);

                    var query = apiRequest('@ETFHistoryPriceApiUrl', params);

                    query.then((data) => {
                        if (Object.keys(data).length != 0
                            && Object.keys(data.Item1).length != 0 ) {
                            let bankSellPrice_array = [];

                            bankBuyPrice_array = data.Item1.map(item => {
                                let date = new Date(item.Date).getTime();
                                bankSellPrice_array.push(
                                    {
                                        name: item.Date,
                                        x: date,
                                        y: roundToTwo(item.BankSellPrice)
                                    }
                                );
                                return {
                                    name: item.Date,
                                    x: date,
                                    y: roundToTwo(item.BankBuyPrice)
                                };
                            });

                            //const mapBuyData = data.body.buyNavs.map(item => {
                            //    return {
                            //        upDown: item.upDown,
                            //        x: new Date(item.date).getTime(),
                            //        y: item.value
                            //    };
                            //});
                            //const mapSellData = data.body.sellNavs.map(item => {
                            //    return {
                            //        upDown: item.upDown,
                            //        x: new Date(item.date).getTime(),
                            //        y: item.value
                            //    };
                            //});

                            let series = [{
                                name: '買價',
                                data: bankBuyPrice_array,
                                legendSymbol: 'rectangle',
                            }, {
                                name: '賣價',
                                data: bankSellPrice_array,
                                legendSymbol: 'rectangle',
                            }];

                            //const updateDate = data.body.updateDate.replaceAll('-', '/');
                            // 資料日期
                            //$('[data-update-date="etf"]').text(updateDate);

                            chart = Highcharts.stockChart('priceTrendChart', {
                                chart: {
                                    zooming: {
                                        mouseWheel: {
                                            enabled: false
                                        }
                                    },
                                    height: 400,
                                    events: {
                                        // 抓出買價最高最低的資料
                                        load: function () {
                                            var chart = this,
                                                allPoints = chart.series[0].points,
                                                maxValue,
                                                maxPoint,
                                                minValue,
                                                minPoint;
                                            allPoints.filter(function (point) {
                                                if (!maxValue || maxValue < point.y) {
                                                    maxValue = point.y;
                                                    maxPoint = point;
                                                }
                                                if (!minValue || minValue > point.y) {
                                                    minValue = point.y;
                                                    minPoint = point;
                                                }
                                            });
                                            var maxPointMoreThanHalf = allPoints.indexOf(maxPoint) > allPoints.length / 2;
                                            var minPointMoreThanHalf = allPoints.indexOf(minPoint) > allPoints.length / 2;
                                            setTimeout(function () {
                                                maxPoint.update({
                                                    dataLabels: {
                                                        enabled: true,
                                                        verticalAlign: 'middle',
                                                        x: maxPointMoreThanHalf ? -45 : 45,
                                                        y: -5,
                                                        formatter: function () {
                                                            var label = maxPointMoreThanHalf ? `最高 ${this.point.y} →` : `← 最高 ${this.point.y} `;
                                                            return label;
                                                        },
                                                        style: {
                                                            fontSize: 14,
                                                            fontWeight: 'normal',
                                                            textOutline: 'none'
                                                        }
                                                    }
                                                });
                                            }, 300);
                                            setTimeout(function () {
                                                minPoint.update({
                                                    dataLabels: {
                                                        enabled: true,
                                                        verticalAlign: 'middle',
                                                        x: minPointMoreThanHalf ? -45 : 45,
                                                        formatter: function () {
                                                            var label = minPointMoreThanHalf ? `最低 ${this.point.y} →` : `← 最低 ${this.point.y} `;
                                                            return label;
                                                        },
                                                        style: {
                                                            fontSize: 14,
                                                            fontWeight: 'normal',
                                                            textOutline: 'none'
                                                        }
                                                    }
                                                });
                                            }, 300);
                                        }
                                    },
                                    rendererType: 'webgl'
                                },
                                credits: {
                                    enabled: false
                                },
                                title: {
                                    text: ''
                                },
                                scrollbar: {
                                    enabled: false
                                },
                                navigator: {
                                    enabled: false
                                },
                                rangeSelector: {
                                    enabled: false
                                },
                                legend: {
                                    enabled: true,
                                    align: 'left',
                                    floating: false,
                                    y: 20,
                                    itemStyle: {
                                        fontSize: '1em',
                                        color: '#222',
                                        cursor: 'default'
                                    },
                                    itemHoverStyle: {
                                        color: '#222'
                                    },
                                    symbolHeight: 12,
                                    symbolWidth: 12
                                },
                                plotOptions: {
                                    series: {
                                        dataGrouping: {
                                            enabled: false
                                        },
                                        states: {
                                            hover: {
                                                enabled: true,
                                                lineWidth: 2,
                                                halo: {
                                                    size: 8
                                                }
                                            }
                                        },
                                        events: {
                                            legendItemClick: function () {
                                                return false;
                                            }
                                        }
                                    }
                                },
                                tooltip: {
                                    split: false,
                                    shared: true,
                                    outside: true,
                                    useHTML: true,
                                    formatter: function () {
                                        let tooltipText = '';
                                        this.points.forEach(point => {
                                            tooltipText += '<div style="display: flex;">' + '<div style="margin-right: 4px">' + '<span style="color: ' + point.series.color + '; font-size: 18px; margin-right: 3px">\u25CF</span>' + point.series.name + ': ' + point.y + '美元' + '</div>' + '</div>';
                                        });
                                        return '<div style="font-size: 14px">' + '<div style="margin-bottom: 8px; color: #9C9C9C">' + Highcharts.dateFormat('%Y/%m/%d', this.x) + '</div>' + tooltipText + '</div>';
                                    },
                                    shadow: {
                                        color: 'rgba(0, 0, 0, 0.1)'
                                    }
                                },
                                xAxis: {
                                    type: 'datetime',
                                    tickPosition: 'inside',
                                    tickWidth: 0.5,
                                    tickLength: 7,
                                    labels: {
                                        formatter: function () {
                                            const format = {
                                                day: '%Y/%m',
                                                week: '%Y/%m',
                                                month: '%Y/%m',
                                                year: '%Y/%m'
                                            }[this.tickPositionInfo.unitName];
                                            return Highcharts.dateFormat(format, this.value);
                                        },
                                        style: {
                                            color: '#6e6e6e'
                                        }
                                    },
                                    crosshair: {
                                        width: 1,
                                        color: '#c3c3c3'
                                    },
                                    lineColor: '#ebebeb',
                                    tickColor: '#ebebeb'
                                },
                                yAxis: {
                                    showLastLabel: true,
                                    opposite: false,
                                    labels: {
                                        y: 4,
                                        formatter: function (value) {
                                            return value.value + '%';
                                        },
                                        style: {
                                            color: '#6e6e6e'
                                        }
                                    },
                                    plotLines: [{
                                        color: '#c3c3c3'
                                    }]
                                },
                                series: series
                            });
                            $('[data-chart="priceTrend"]').find('.c-empty').addClass('u-hidden');
                            $('[data-chart="priceTrend"]').find('.c-chartBox, .l-dataNotes').removeClass('u-hidden');
                        } else {
                            $('[data-chart="priceTrend"]').find('.c-empty').removeClass('u-hidden');
                            $('[data-chart="priceTrend"]').find('.c-chartBox, .l-dataNotes').addClass('u-hidden');
                        }
                    }).catch((err) => {
                        $('[data-chart="priceTrend"]').find('.c-empty').addClass('u-hidden');
                        $('[data-chart="priceTrend"]').find('.c-chartBox, .l-dataNotes').removeClass('u-hidden');
                        console.log(err);
                    });
                } catch (error) {
                    console.error('Error:', error);
                }
            }
        });
        //#endregion 歷史買賣價 – 買賣價走勢

    })(jQuery, window, document);
</script>